openapi: 3.0.1
info:
  title: Zero Networks
  version: 1.26.3
  description: APIs for Zero Networks
  contact:
    name: Support
    url: https://support.zeronetworks.com
    email: support@zeronetworks.com
servers:
  - url: https://portal.zeronetworks.com/v1/api
    description: Customer URL
    variables:
      CustomerURL:
        description: this value is per customer / partner
        default: portal
paths:
  /active-directory/domains: {}
  /activities/analysis/widgets/{activityType}: {}
  /activities/analysis/widgets/{activityType}/{widgetId}: {}
  /activities/logon: {}
  /activities/logon/distinctField/{fieldName}: {}
  /activities/logon/export: {}
  /activities/logon/export/csv/{exportId}: {}
  /activities/logon/filters: {}
  /activities/logon/filters/user-filters: {}
  /activities/logon/filters/user-filters/{filterId}: {}
  /activities/network: {}
  /activities/network/distinctField/{fieldName}: {}
  /activities/network/export: {}
  /activities/network/export/csv/{exportId}: {}
  /activities/network/filters: {}
  /activities/network/filters/user-filters: {}
  /activities/network/filters/user-filters/{filterId}: {}
  /activities/rpc: {}
  /activities/rpc/export: {}
  /activities/rpc/export/csv/{exportId}: {}
  /activities/rpc/filters: {}
  /activities/rpc/filters/interface-candidates: {}
  /activities/rpc/filters/op-candidates: {}
  /activities/rpc/filters/user-filters: {}
  /activities/rpc/filters/user-filters/{filterId}: {}
  /activities/network/internet-categories-candidates: {}
  /activities/network/internet-sub-categories-candidates: {}
  /ai/learning-config: {}
  /ai/next-batch: {}
  /assets: {}
  /assets/{assetId}: {}
  /assets/{assetId}/actions: {}
  /assets/{assetId}/actions/activate: {}
  /assets/{assetId}/actions/activate-break-glass: {}
  /assets/{assetId}/actions/deactivate-break-glass: {}
  /assets/{assetId}/actions/inactivate: {}
  /assets/{assetId}/actions/mirror: {}
  /assets/{assetId}/actions/os-type: {}
  /assets/{assetId}/actions/outbound-restriction: {}
  /assets/{assetId}/actions/deployments-cluster: {}
  /assets/{assetId}/actions/preferred-deployment: {}
  /assets/{assetId}/actions/protect: {}
  /assets/{assetId}/actions/protect/validate: {}
  /assets/{assetId}/actions/quarantine: {}
  /assets/{assetId}/actions/queue: {}
  /assets/{assetId}/actions/retry-health: {}
  /assets/{assetId}/actions/type: {}
  /assets/{assetId}/actions/unprotect: {}
  /assets/{assetId}/actions/unprotect/validate: {}
  /assets/{assetId}/activities/logon: {}
  /assets/{assetId}/activities/logon/distinctField/{fieldName}: {}
  /assets/{assetId}/activities/logon/export: {}
  /assets/{assetId}/activities/logon/export/csv/{exportId}: {}
  /assets/{assetId}/activities/logon/filters: {}
  /assets/{assetId}/activities/logon/filters/user-filters: {}
  /assets/{assetId}/activities/logon/filters/user-filters/{filterId}: {}
  /assets/{assetId}/activities/network: {}
  /assets/{assetId}/activities/network/distinctField/{fieldName}: {}
  /assets/{assetId}/activities/network/export: {}
  /assets/{assetId}/activities/network/export/csv/{exportId}: {}
  /assets/{assetId}/activities/network/filters: {}
  /assets/{assetId}/activities/network/filters/user-filters: {}
  /assets/{assetId}/activities/network/filters/user-filters/{filterId}: {}
  /assets/{assetId}/activities/rpc: {}
  /assets/{assetId}/activities/rpc/export: {}
  /assets/{assetId}/activities/rpc/export/csv/{exportId}: {}
  /assets/{assetId}/activities/rpc/filters: {}
  /assets/{assetId}/activities/rpc/filters/interface-candidates: {}
  /assets/{assetId}/activities/rpc/filters/op-candidates: {}
  /assets/{assetId}/activities/rpc/filters/user-filters: {}
  /assets/{assetId}/activities/rpc/filters/user-filters/{filterId}: {}
  /assets/{assetId}/analysis/identity: {}
  /assets/{assetId}/analysis/identity/export: {}
  /assets/{assetId}/analysis/identity/export/csv/{exportId}: {}
  /assets/{assetId}/analysis/network: {}
  /assets/{assetId}/analysis/network/activity-map: {}
  /assets/{assetId}/analysis/network/export: {}
  /assets/{assetId}/analysis/network/export/csv/{exportId}: {}
  /assets/{assetId}/ancestors: {}
  /assets/{assetId}/ancestors/candidates: {}
  /assets/{assetId}/audit: {}
  /assets/{assetId}/audit/export: {}
  /assets/{assetId}/audit/export/csv/{exportId}: {}
  /assets/{assetId}/audit/filters: {}
  /assets/{assetId}/cluster-info: {}
  /assets/{assetId}/health-state: {}
  /assets/{assetId}/identity-actions/protect: {}
  /assets/{assetId}/identity-actions/protect/validate: {}
  /assets/{assetId}/identity-actions/queue: {}
  /assets/{assetId}/identity-actions/unprotect: {}
  /assets/{assetId}/identity-actions/unprotect/validate: {}
  /assets/{assetId}/labels/add: {}
  /assets/{assetId}/labels/key-candidates: {}
  /assets/{assetId}/labels/remove: {}
  /assets/{assetId}/labels/value-candidates: {}
  /assets/{assetId}/listening-ports: {}
  /assets/{assetId}/managers: {}
  /assets/{assetId}/managers/{groupOrUserId}: {}
  /assets/{assetId}/managers/candidates: {}
  /assets/{assetId}/mirror-candidates: {}
  /assets/{assetId}/protection/external-access-policies: {}
  /assets/{assetId}/protection/external-access-policies/{policyId}: {}
  /assets/{assetId}/protection/external-access-policies/dst-asset-candidates: {}
  /assets/{assetId}/protection/external-access-policies/filters: {}
  /assets/{assetId}/protection/external-access-policies/filters/dst-asset-candidates: {}
  /assets/{assetId}/protection/external-access-policies/filters/src-users-candidates: {}
  /assets/{assetId}/protection/external-access-policies/src-users-candidates: {}
  /assets/{assetId}/protection/external-access-policies/statistics: {}
  /assets/{assetId}/protection/identity-rules: {}
  /assets/{assetId}/protection/identity-rules/{ruleId}: {}
  /assets/{assetId}/protection/identity-rules/asset-candidates: {}
  /assets/{assetId}/protection/identity-rules/excluded-asset-candidates: {}
  /assets/{assetId}/protection/identity-rules/export: {}
  /assets/{assetId}/protection/identity-rules/export/csv/{exportId}: {}
  /assets/{assetId}/protection/identity-rules/filters: {}
  /assets/{assetId}/protection/identity-rules/filters/asset-candidates: {}
  /assets/{assetId}/protection/identity-rules/filters/user-candidates: {}
  /assets/{assetId}/protection/identity-rules/filters/user-filters: {}
  /assets/{assetId}/protection/identity-rules/filters/user-filters/{filterId}: {}
  /assets/{assetId}/protection/identity-rules/user-candidates: {}
  /assets/{assetId}/protection/identity/reactive-policies: {}
  /assets/{assetId}/protection/identity/reactive-policies/{reactivePolicyId}: {}
  /assets/{assetId}/protection/identity/reactive-policies/dst-asset-candidates: {}
  /assets/{assetId}/protection/identity/reactive-policies/excluded-src-asset-candidates: {}
  /assets/{assetId}/protection/identity/reactive-policies/export: {}
  /assets/{assetId}/protection/identity/reactive-policies/export/csv/{exportId}: {}
  /assets/{assetId}/protection/identity/reactive-policies/filters: {}
  /assets/{assetId}/protection/identity/reactive-policies/filters/dst-asset-candidates: {}
  /assets/{assetId}/protection/identity/reactive-policies/filters/src-asset-candidates: {}
  /assets/{assetId}/protection/identity/reactive-policies/filters/src-users-candidates: {}
  /assets/{assetId}/protection/identity/reactive-policies/filters/user-filters: {}
  /assets/{assetId}/protection/identity/reactive-policies/filters/user-filters/{filterId}: {}
  /assets/{assetId}/protection/identity/reactive-policies/mfa-methods: {}
  /assets/{assetId}/protection/identity/reactive-policies/src-asset-candidates: {}
  /assets/{assetId}/protection/identity/reactive-policies/src-users-candidates: {}
  /assets/{assetId}/protection/reactive-policies/inbound: {}
  /assets/{assetId}/protection/reactive-policies/inbound/{reactivePolicyId}: {}
  /assets/{assetId}/protection/reactive-policies/inbound/dst-candidates: {}
  /assets/{assetId}/protection/reactive-policies/inbound/excluded-src-candidates: {}
  /assets/{assetId}/protection/reactive-policies/inbound/filters: {}
  /assets/{assetId}/protection/reactive-policies/inbound/filters/dst-candidates: {}
  /assets/{assetId}/protection/reactive-policies/inbound/filters/src-candidates: {}
  /assets/{assetId}/protection/reactive-policies/inbound/filters/src-users-candidates: {}
  /assets/{assetId}/protection/reactive-policies/inbound/filters/user-filters: {}
  /assets/{assetId}/protection/reactive-policies/inbound/filters/user-filters/{filterId}: {}
  /assets/{assetId}/protection/reactive-policies/inbound/mfa-methods: {}
  /assets/{assetId}/protection/reactive-policies/inbound/simulate: {}
  /assets/{assetId}/protection/reactive-policies/inbound/simulate/dst-candidates: {}
  /assets/{assetId}/protection/reactive-policies/inbound/simulate/resolve: {}
  /assets/{assetId}/protection/reactive-policies/inbound/simulate/src-candidates: {}
  /assets/{assetId}/protection/reactive-policies/inbound/simulate/src-users-candidates: {}
  /assets/{assetId}/protection/reactive-policies/inbound/src-candidates: {}
  /assets/{assetId}/protection/reactive-policies/inbound/src-users-candidates: {}
  /assets/{assetId}/protection/reactive-policies/outbound: {}
  /assets/{assetId}/protection/reactive-policies/outbound/{reactivePolicyId}: {}
  /assets/{assetId}/protection/reactive-policies/outbound/dst-candidates: {}
  /assets/{assetId}/protection/reactive-policies/outbound/excluded-src-candidates: {}
  /assets/{assetId}/protection/reactive-policies/outbound/filters: {}
  /assets/{assetId}/protection/reactive-policies/outbound/filters/dst-candidates: {}
  /assets/{assetId}/protection/reactive-policies/outbound/filters/src-candidates: {}
  /assets/{assetId}/protection/reactive-policies/outbound/filters/src-users-candidates: {}
  /assets/{assetId}/protection/reactive-policies/outbound/filters/user-filters: {}
  /assets/{assetId}/protection/reactive-policies/outbound/filters/user-filters/{filterId}: {}
  /assets/{assetId}/protection/reactive-policies/outbound/mfa-methods: {}
  /assets/{assetId}/protection/reactive-policies/outbound/simulate: {}
  /assets/{assetId}/protection/reactive-policies/outbound/simulate/dst-candidates: {}
  /assets/{assetId}/protection/reactive-policies/outbound/simulate/resolve: {}
  /assets/{assetId}/protection/reactive-policies/outbound/simulate/src-candidates: {}
  /assets/{assetId}/protection/reactive-policies/outbound/simulate/src-users-candidates: {}
  /assets/{assetId}/protection/reactive-policies/outbound/src-candidates: {}
  /assets/{assetId}/protection/reactive-policies/outbound/src-users-candidates: {}
  /assets/{assetId}/protection/rpc-rules: {}
  /assets/{assetId}/protection/rpc-rules/{ruleId}: {}
  /assets/{assetId}/protection/rpc-rules/excluded-local-candidates: {}
  /assets/{assetId}/protection/rpc-rules/export: {}
  /assets/{assetId}/protection/rpc-rules/export/csv/{exportId}: {}
  /assets/{assetId}/protection/rpc-rules/filters: {}
  /assets/{assetId}/protection/rpc-rules/filters/local-candidates: {}
  /assets/{assetId}/protection/rpc-rules/filters/remote-candidates: {}
  /assets/{assetId}/protection/rpc-rules/filters/user-candidates: {}
  /assets/{assetId}/protection/rpc-rules/filters/user-filters: {}
  /assets/{assetId}/protection/rpc-rules/filters/user-filters/{filterId}: {}
  /assets/{assetId}/protection/rpc-rules/local-candidates: {}
  /assets/{assetId}/protection/rpc-rules/remote-candidates: {}
  /assets/{assetId}/protection/rpc-rules/user-candidates: {}
  /assets/{assetId}/protection/rules/distribution/{ruleId}: {}
  /assets/{assetId}/protection/rules/history/{ruleId}: {}
  /assets/{assetId}/protection/rules/inbound: {}
  /assets/{assetId}/protection/rules/inbound/{ruleId}: {}
  /assets/{assetId}/protection/rules/inbound/excluded-local-candidates: {}
  /assets/{assetId}/protection/rules/inbound/export: {}
  /assets/{assetId}/protection/rules/inbound/export/csv/{exportId}: {}
  /assets/{assetId}/protection/rules/inbound/filters: {}
  /assets/{assetId}/protection/rules/inbound/filters/local-candidates: {}
  /assets/{assetId}/protection/rules/inbound/filters/remote-candidates: {}
  /assets/{assetId}/protection/rules/inbound/filters/user-filters: {}
  /assets/{assetId}/protection/rules/inbound/filters/user-filters/{filterId}: {}
  /assets/{assetId}/protection/rules/inbound/local-candidates: {}
  /assets/{assetId}/protection/rules/inbound/remote-candidates: {}
  /assets/{assetId}/protection/rules/inbound/review/approve-with-changes/{ruleId}: {}
  /assets/{assetId}/protection/rules/inbound/review/approve/{ruleId}: {}
  /assets/{assetId}/protection/rules/inbound/review/approve-delete/{ruleId}: {}
  /assets/{assetId}/protection/rules/inbound/review/reject/{ruleId}: {}
  /assets/{assetId}/protection/rules/inbound/review/reject-delete/{ruleId}: {}
  /assets/{assetId}/protection/rules/outbound: {}
  /assets/{assetId}/protection/rules/outbound/{ruleId}: {}
  /assets/{assetId}/protection/rules/outbound/excluded-local-candidates: {}
  /assets/{assetId}/protection/rules/outbound/export: {}
  /assets/{assetId}/protection/rules/outbound/export/csv/{exportId}: {}
  /assets/{assetId}/protection/rules/outbound/filters: {}
  /assets/{assetId}/protection/rules/outbound/filters/excluded-local-candidates: {}
  /assets/{assetId}/protection/rules/outbound/filters/local-candidates: {}
  /assets/{assetId}/protection/rules/outbound/filters/remote-candidates: {}
  /assets/{assetId}/protection/rules/outbound/filters/user-candidates: {}
  /assets/{assetId}/protection/rules/outbound/filters/user-filters: {}
  /assets/{assetId}/protection/rules/outbound/filters/user-filters/{filterId}: {}
  /assets/{assetId}/protection/rules/outbound/local-candidates: {}
  /assets/{assetId}/protection/rules/outbound/remote-candidates: {}
  /assets/{assetId}/protection/rules/outbound/review/approve-with-changes/{ruleId}: {}
  /assets/{assetId}/protection/rules/outbound/review/approve/{ruleId}: {}
  /assets/{assetId}/protection/rules/outbound/review/approve-delete/{ruleId}: {}
  /assets/{assetId}/protection/rules/outbound/review/reject/{ruleId}: {}
  /assets/{assetId}/protection/rules/outbound/review/reject-delete/{ruleId}: {}
  /assets/{assetId}/protection/rules/outbound/user-candidates: {}
  /assets/{assetId}/protection/switch-rules/inbound: {}
  /assets/{assetId}/protection/switch-rules/inbound/{ruleId}: {}
  /assets/{assetId}/protection/switch-rules/inbound/excluded-local-candidates: {}
  /assets/{assetId}/protection/switch-rules/inbound/export: {}
  /assets/{assetId}/protection/switch-rules/inbound/export/csv/{exportId}: {}
  /assets/{assetId}/protection/switch-rules/inbound/filters: {}
  /assets/{assetId}/protection/switch-rules/inbound/filters/local-candidates: {}
  /assets/{assetId}/protection/switch-rules/inbound/filters/remote-candidates: {}
  /assets/{assetId}/protection/switch-rules/inbound/filters/user-filters: {}
  /assets/{assetId}/protection/switch-rules/inbound/filters/user-filters/{filterId}: {}
  /assets/{assetId}/protection/switch-rules/inbound/local-candidates: {}
  /assets/{assetId}/protection/switch-rules/inbound/remote-candidates: {}
  /assets/{assetId}/protection/switch-rules/inbound/user-candidates: {}
  /assets/{assetId}/protection/switch-rules/outbound: {}
  /assets/{assetId}/protection/switch-rules/outbound/{ruleId}: {}
  /assets/{assetId}/protection/switch-rules/outbound/excluded-local-candidates: {}
  /assets/{assetId}/protection/switch-rules/outbound/export: {}
  /assets/{assetId}/protection/switch-rules/outbound/export/csv/{exportId}: {}
  /assets/{assetId}/protection/switch-rules/outbound/filters: {}
  /assets/{assetId}/protection/switch-rules/outbound/filters/local-candidates: {}
  /assets/{assetId}/protection/switch-rules/outbound/filters/remote-candidates: {}
  /assets/{assetId}/protection/switch-rules/outbound/filters/user-filters: {}
  /assets/{assetId}/protection/switch-rules/outbound/filters/user-filters/{filterId}: {}
  /assets/{assetId}/protection/switch-rules/outbound/local-candidates: {}
  /assets/{assetId}/protection/switch-rules/outbound/remote-candidates: {}
  /assets/{assetId}/rpc-actions/monitor: {}
  /assets/{assetId}/rpc-actions/protect: {}
  /assets/{assetId}/rpc-actions/queue: {}
  /assets/{assetId}/rpc-actions/unmonitor: {}
  /assets/{assetId}/rpc-actions/unprotect: {}
  /assets/{assetId}/tags: {}
  /assets/actions/activate: {}
  /assets/actions/activate-break-glass: {}
  /assets/actions/deactivate-break-glass: {}
  /assets/actions/deployments-cluster: {}
  /assets/actions/inactivate: {}
  /assets/actions/mirror: {}
  /assets/actions/os-type: {}
  /assets/actions/outbound-restriction: {}
  /assets/actions/preferred-deployment: {}
  /assets/actions/protect: {}
  /assets/actions/protect/validate: {}
  /assets/actions/quarantine: {}
  /assets/actions/queue: {}
  /assets/actions/unprotect: {}
  /assets/actions/unprotect/validate: {}
  /assets/actions: {}
  /assets/export: {}
  /assets/export/csv/{exportId}: {}
  /assets/exposure-meter-statistics: {}
  /assets/filters: {}
  /assets/filters/user-filters: {}
  /assets/filters/user-filters/{filterId}: {}
  /assets/firewalls: {}
  /assets/firewalls/{firewallId}: {}
  /assets/firewalls/filters: {}
  /assets/identity-actions/protect: {}
  /assets/identity-actions/protect/validate: {}
  /assets/identity-actions/queue: {}
  /assets/identity-actions/unprotect: {}
  /assets/identity-actions/unprotect/validate: {}
  /assets/identity/protected: {}
  /assets/identity/protected/export: {}
  /assets/identity/protected/export/csv/{exportId}: {}
  /assets/identity/protected/filters: {}
  /assets/identity/protected/filters/user-filters: {}
  /assets/identity/protected/filters/user-filters/{filterId}: {}
  /assets/identity/queued: {}
  /assets/identity/queued/export: {}
  /assets/identity/queued/export/csv/{exportId}: {}
  /assets/identity/queued/filters: {}
  /assets/identity/queued/filters/user-filters: {}
  /assets/identity/queued/filters/user-filters/{filterId}: {}
  /assets/inactive: {}
  /assets/inactive/export: {}
  /assets/inactive/export/csv/{exportId}: {}
  /assets/inactive/filters: {}
  /assets/inactive/filters/user-filters: {}
  /assets/inactive/filters/user-filters/{filterId}: {}
  /assets/linux: {}
  /assets/linux/scripts/add-user: {}
  /assets/linux/scripts/add-user-available: {}
  /assets/monitored: {}
  /assets/monitored/export: {}
  /assets/monitored/export/csv/{exportId}: {}
  /assets/monitored/filters: {}
  /assets/monitored/filters/user-filters: {}
  /assets/monitored/filters/user-filters/{filterId}: {}
  /assets/ot: {}
  /assets/ot/{assetId}: {}
  /assets/ot/{assetId}/actions/inactivate: {}
  /assets/ot/{assetId}/actions/protect: {}
  /assets/ot/{assetId}/actions/queue: {}
  /assets/ot/{assetId}/actions/unprotect: {}
  /assets/ot/{assetId}/actions/unprotect/validate: {}
  /assets/ot/{assetId}/activities/logon: {}
  /assets/ot/{assetId}/activities/logon/distinctField/{fieldName}: {}
  /assets/ot/{assetId}/activities/logon/export: {}
  /assets/ot/{assetId}/activities/logon/export/csv/{exportId}: {}
  /assets/ot/{assetId}/activities/logon/filters: {}
  /assets/ot/{assetId}/activities/logon/filters/user-filters: {}
  /assets/ot/{assetId}/activities/logon/filters/user-filters/{filterId}: {}
  /assets/ot/{assetId}/activities/network: {}
  /assets/ot/{assetId}/activities/network/distinctField/{fieldName}: {}
  /assets/ot/{assetId}/activities/network/export: {}
  /assets/ot/{assetId}/activities/network/export/csv/{exportId}: {}
  /assets/ot/{assetId}/activities/network/filters: {}
  /assets/ot/{assetId}/activities/network/filters/user-filters: {}
  /assets/ot/{assetId}/activities/network/filters/user-filters/{filterId}: {}
  /assets/ot/{assetId}/activities/rpc: {}
  /assets/ot/{assetId}/activities/rpc/export: {}
  /assets/ot/{assetId}/activities/rpc/export/csv/{exportId}: {}
  /assets/ot/{assetId}/activities/rpc/filters: {}
  /assets/ot/{assetId}/activities/rpc/filters/interface-candidates: {}
  /assets/ot/{assetId}/activities/rpc/filters/op-candidates: {}
  /assets/ot/{assetId}/activities/rpc/filters/user-filters: {}
  /assets/ot/{assetId}/activities/rpc/filters/user-filters/{filterId}: {}
  /assets/ot/{assetId}/analysis/identity: {}
  /assets/ot/{assetId}/analysis/identity/export: {}
  /assets/ot/{assetId}/analysis/identity/export/csv/{exportId}: {}
  /assets/ot/{assetId}/analysis/network: {}
  /assets/ot/{assetId}/analysis/network/activity-map: {}
  /assets/ot/{assetId}/analysis/network/export: {}
  /assets/ot/{assetId}/analysis/network/export/csv/{exportId}: {}
  /assets/ot/{assetId}/ancestors: {}
  /assets/ot/{assetId}/ancestors/candidates: {}
  /assets/ot/{assetId}/audit: {}
  /assets/ot/{assetId}/audit/export: {}
  /assets/ot/{assetId}/audit/export/csv/{exportId}: {}
  /assets/ot/{assetId}/audit/filters: {}
  /assets/ot/{assetId}/labels/add: {}
  /assets/ot/{assetId}/labels/key-candidates: {}
  /assets/ot/{assetId}/labels/remove: {}
  /assets/ot/{assetId}/labels/value-candidates: {}
  /assets/ot/{assetId}/managers: {}
  /assets/ot/{assetId}/managers/{groupOrUserId}: {}
  /assets/ot/{assetId}/managers/candidates: {}
  /assets/ot/{assetId}/mirror-candidates: {}
  /assets/ot/{assetId}/protection/identity-rules: {}
  /assets/ot/{assetId}/protection/identity-rules/{ruleId}: {}
  /assets/ot/{assetId}/protection/identity-rules/asset-candidates: {}
  /assets/ot/{assetId}/protection/identity-rules/excluded-asset-candidates: {}
  /assets/ot/{assetId}/protection/identity-rules/export: {}
  /assets/ot/{assetId}/protection/identity-rules/export/csv/{exportId}: {}
  /assets/ot/{assetId}/protection/identity-rules/filters: {}
  /assets/ot/{assetId}/protection/identity-rules/filters/asset-candidates: {}
  /assets/ot/{assetId}/protection/identity-rules/filters/user-candidates: {}
  /assets/ot/{assetId}/protection/identity-rules/filters/user-filters: {}
  /assets/ot/{assetId}/protection/identity-rules/filters/user-filters/{filterId}: {}
  /assets/ot/{assetId}/protection/identity-rules/user-candidates: {}
  /assets/ot/{assetId}/protection/identity/reactive-policies: {}
  /assets/ot/{assetId}/protection/identity/reactive-policies/{reactivePolicyId}: {}
  /assets/ot/{assetId}/protection/identity/reactive-policies/dst-asset-candidates: {}
  /assets/ot/{assetId}/protection/identity/reactive-policies/excluded-src-asset-candidates: {}
  /assets/ot/{assetId}/protection/identity/reactive-policies/export: {}
  /assets/ot/{assetId}/protection/identity/reactive-policies/export/csv/{exportId}: {}
  /assets/ot/{assetId}/protection/identity/reactive-policies/filters: {}
  /assets/ot/{assetId}/protection/identity/reactive-policies/filters/dst-asset-candidates: {}
  /assets/ot/{assetId}/protection/identity/reactive-policies/filters/src-asset-candidates: {}
  /assets/ot/{assetId}/protection/identity/reactive-policies/filters/src-users-candidates: {}
  /assets/ot/{assetId}/protection/identity/reactive-policies/filters/user-filters: {}
  /assets/ot/{assetId}/protection/identity/reactive-policies/filters/user-filters/{filterId}: {}
  /assets/ot/{assetId}/protection/identity/reactive-policies/mfa-methods: {}
  /assets/ot/{assetId}/protection/identity/reactive-policies/src-asset-candidates: {}
  /assets/ot/{assetId}/protection/identity/reactive-policies/src-users-candidates: {}
  /assets/ot/{assetId}/protection/reactive-policies/inbound: {}
  /assets/ot/{assetId}/protection/reactive-policies/inbound/{reactivePolicyId}: {}
  /assets/ot/{assetId}/protection/reactive-policies/inbound/dst-candidates: {}
  /assets/ot/{assetId}/protection/reactive-policies/inbound/excluded-src-candidates: {}
  /assets/ot/{assetId}/protection/reactive-policies/inbound/filters: {}
  /assets/ot/{assetId}/protection/reactive-policies/inbound/filters/dst-candidates: {}
  /assets/ot/{assetId}/protection/reactive-policies/inbound/filters/src-candidates: {}
  /assets/ot/{assetId}/protection/reactive-policies/inbound/filters/src-users-candidates: {}
  /assets/ot/{assetId}/protection/reactive-policies/inbound/filters/user-filters: {}
  /assets/ot/{assetId}/protection/reactive-policies/inbound/filters/user-filters/{filterId}: {}
  /assets/ot/{assetId}/protection/reactive-policies/inbound/simulate: {}
  /assets/ot/{assetId}/protection/reactive-policies/inbound/simulate/dst-candidates: {}
  /assets/ot/{assetId}/protection/reactive-policies/inbound/simulate/resolve: {}
  /assets/ot/{assetId}/protection/reactive-policies/inbound/simulate/src-candidates: {}
  /assets/ot/{assetId}/protection/reactive-policies/inbound/simulate/src-users-candidates: {}
  /assets/ot/{assetId}/protection/reactive-policies/inbound/mfa-methods: {}
  /assets/ot/{assetId}/protection/reactive-policies/inbound/src-candidates: {}
  /assets/ot/{assetId}/protection/reactive-policies/inbound/src-users-candidates: {}
  /assets/ot/{assetId}/protection/reactive-policies/outbound: {}
  /assets/ot/{assetId}/protection/reactive-policies/outbound/{reactivePolicyId}: {}
  /assets/ot/{assetId}/protection/reactive-policies/outbound/dst-candidates: {}
  /assets/ot/{assetId}/protection/reactive-policies/outbound/excluded-src-candidates: {}
  /assets/ot/{assetId}/protection/reactive-policies/outbound/filters: {}
  /assets/ot/{assetId}/protection/reactive-policies/outbound/filters/dst-candidates: {}
  /assets/ot/{assetId}/protection/reactive-policies/outbound/filters/src-candidates: {}
  /assets/ot/{assetId}/protection/reactive-policies/outbound/filters/src-users-candidates: {}
  /assets/ot/{assetId}/protection/reactive-policies/outbound/filters/user-filters: {}
  /assets/ot/{assetId}/protection/reactive-policies/outbound/filters/user-filters/{filterId}: {}
  /assets/ot/{assetId}/protection/reactive-policies/outbound/mfa-methods: {}
  /assets/ot/{assetId}/protection/reactive-policies/outbound/simulate: {}
  /assets/ot/{assetId}/protection/reactive-policies/outbound/simulate/dst-candidates: {}
  /assets/ot/{assetId}/protection/reactive-policies/outbound/simulate/resolve: {}
  /assets/ot/{assetId}/protection/reactive-policies/outbound/simulate/src-candidates: {}
  /assets/ot/{assetId}/protection/reactive-policies/outbound/simulate/src-users-candidates: {}
  /assets/ot/{assetId}/protection/reactive-policies/outbound/src-candidates: {}
  /assets/ot/{assetId}/protection/reactive-policies/outbound/src-users-candidates: {}
  /assets/ot/{assetId}/protection/rpc-rules: {}
  /assets/ot/{assetId}/protection/rpc-rules/{ruleId}: {}
  /assets/ot/{assetId}/protection/rpc-rules/excluded-local-candidates: {}
  /assets/ot/{assetId}/protection/rpc-rules/export: {}
  /assets/ot/{assetId}/protection/rpc-rules/export/csv/{exportId}: {}
  /assets/ot/{assetId}/protection/rpc-rules/filters: {}
  /assets/ot/{assetId}/protection/rpc-rules/filters/local-candidates: {}
  /assets/ot/{assetId}/protection/rpc-rules/filters/remote-candidates: {}
  /assets/ot/{assetId}/protection/rpc-rules/filters/user-candidates: {}
  /assets/ot/{assetId}/protection/rpc-rules/filters/user-filters: {}
  /assets/ot/{assetId}/protection/rpc-rules/filters/user-filters/{filterId}: {}
  /assets/ot/{assetId}/protection/rpc-rules/local-candidates: {}
  /assets/ot/{assetId}/protection/rpc-rules/remote-candidates: {}
  /assets/ot/{assetId}/protection/rpc-rules/user-candidates: {}
  /assets/ot/{assetId}/protection/rules/distribution/{ruleId}: {}
  /assets/ot/{assetId}/protection/rules/history/{ruleId}: {}
  /assets/ot/{assetId}/protection/rules/inbound: {}
  /assets/ot/{assetId}/protection/rules/inbound/{ruleId}: {}
  /assets/ot/{assetId}/protection/rules/inbound/excluded-local-candidates: {}
  /assets/ot/{assetId}/protection/rules/inbound/export: {}
  /assets/ot/{assetId}/protection/rules/inbound/export/csv/{exportId}: {}
  /assets/ot/{assetId}/protection/rules/inbound/filters: {}
  /assets/ot/{assetId}/protection/rules/inbound/filters/local-candidates: {}
  /assets/ot/{assetId}/protection/rules/inbound/filters/remote-candidates: {}
  /assets/ot/{assetId}/protection/rules/inbound/filters/user-filters: {}
  /assets/ot/{assetId}/protection/rules/inbound/filters/user-filters/{filterId}: {}
  /assets/ot/{assetId}/protection/rules/inbound/local-candidates: {}
  /assets/ot/{assetId}/protection/rules/inbound/remote-candidates: {}
  /assets/ot/{assetId}/protection/rules/inbound/review/approve-with-changes/{ruleId}: {}
  /assets/ot/{assetId}/protection/rules/inbound/review/approve/{ruleId}: {}
  /assets/ot/{assetId}/protection/rules/inbound/review/approve-delete/{ruleId}: {}
  /assets/ot/{assetId}/protection/rules/inbound/review/reject/{ruleId}: {}
  /assets/ot/{assetId}/protection/rules/inbound/review/reject-delete/{ruleId}: {}
  /assets/ot/{assetId}/protection/rules/outbound: {}
  /assets/ot/{assetId}/protection/rules/outbound/{ruleId}: {}
  /assets/ot/{assetId}/protection/rules/outbound/excluded-local-candidates: {}
  /assets/ot/{assetId}/protection/rules/outbound/export: {}
  /assets/ot/{assetId}/protection/rules/outbound/export/csv/{exportId}: {}
  /assets/ot/{assetId}/protection/rules/outbound/filters: {}
  /assets/ot/{assetId}/protection/rules/outbound/filters/excluded-local-candidates: {}
  /assets/ot/{assetId}/protection/rules/outbound/filters/local-candidates: {}
  /assets/ot/{assetId}/protection/rules/outbound/filters/remote-candidates: {}
  /assets/ot/{assetId}/protection/rules/outbound/filters/user-candidates: {}
  /assets/ot/{assetId}/protection/rules/outbound/filters/user-filters: {}
  /assets/ot/{assetId}/protection/rules/outbound/filters/user-filters/{filterId}: {}
  /assets/ot/{assetId}/protection/rules/outbound/local-candidates: {}
  /assets/ot/{assetId}/protection/rules/outbound/remote-candidates: {}
  /assets/ot/{assetId}/protection/rules/outbound/user-candidates: {}
  /assets/ot/{assetId}/protection/rules/outbound/review/approve-with-changes/{ruleId}: {}
  /assets/ot/{assetId}/protection/rules/outbound/review/approve/{ruleId}: {}
  /assets/ot/{assetId}/protection/rules/outbound/review/approve-delete/{ruleId}: {}
  /assets/ot/{assetId}/protection/rules/outbound/review/reject/{ruleId}: {}
  /assets/ot/{assetId}/protection/rules/outbound/review/reject-delete/{ruleId}: {}
  /assets/ot/{assetId}/protection/switch-rules/inbound: {}
  /assets/ot/{assetId}/protection/switch-rules/inbound/{ruleId}: {}
  /assets/ot/{assetId}/protection/switch-rules/inbound/excluded-local-candidates: {}
  /assets/ot/{assetId}/protection/switch-rules/inbound/export: {}
  /assets/ot/{assetId}/protection/switch-rules/inbound/export/csv/{exportId}: {}
  /assets/ot/{assetId}/protection/switch-rules/inbound/filters: {}
  /assets/ot/{assetId}/protection/switch-rules/inbound/filters/local-candidates: {}
  /assets/ot/{assetId}/protection/switch-rules/inbound/filters/remote-candidates: {}
  /assets/ot/{assetId}/protection/switch-rules/inbound/filters/user-filters: {}
  /assets/ot/{assetId}/protection/switch-rules/inbound/filters/user-filters/{filterId}: {}
  /assets/ot/{assetId}/protection/switch-rules/inbound/local-candidates: {}
  /assets/ot/{assetId}/protection/switch-rules/inbound/remote-candidates: {}
  /assets/ot/{assetId}/protection/switch-rules/inbound/user-candidates: {}
  /assets/ot/{assetId}/protection/switch-rules/outbound: {}
  /assets/ot/{assetId}/protection/switch-rules/outbound/{ruleId}: {}
  /assets/ot/{assetId}/protection/switch-rules/outbound/excluded-local-candidates: {}
  /assets/ot/{assetId}/protection/switch-rules/outbound/export: {}
  /assets/ot/{assetId}/protection/switch-rules/outbound/export/csv/{exportId}: {}
  /assets/ot/{assetId}/protection/switch-rules/outbound/filters: {}
  /assets/ot/{assetId}/protection/switch-rules/outbound/filters/local-candidates: {}
  /assets/ot/{assetId}/protection/switch-rules/outbound/filters/remote-candidates: {}
  /assets/ot/{assetId}/protection/switch-rules/outbound/filters/user-filters: {}
  /assets/ot/{assetId}/protection/switch-rules/outbound/filters/user-filters/{filterId}: {}
  /assets/ot/{assetId}/protection/switch-rules/outbound/local-candidates: {}
  /assets/ot/{assetId}/protection/switch-rules/outbound/remote-candidates: {}
  /assets/ot/{assetId}/revive: {}
  /assets/ot/{assetId}/tags: {}
  /assets/ot/actions/activate: {}
  /assets/ot/actions/inactivate: {}
  /assets/ot/actions/protect: {}
  /assets/ot/actions/queue: {}
  /assets/ot/actions/unprotect: {}
  /assets/ot/actions/unprotect/validate: {}
  /assets/ot/export: {}
  /assets/ot/export/csv/{exportId}: {}
  /assets/ot/filters: {}
  /assets/ot/filters/user-filters: {}
  /assets/ot/filters/user-filters/{filterId}: {}
  /assets/preferred-deployment: {}
  /assets/protected: {}
  /assets/protected/export: {}
  /assets/protected/export/csv/{exportId}: {}
  /assets/protected/filters: {}
  /assets/protected/filters/user-filters: {}
  /assets/protected/filters/user-filters/{filterId}: {}
  /assets/protected/searchId: {}
  /assets/queued: {}
  /assets/queued/export: {}
  /assets/queued/export/csv/{exportId}: {}
  /assets/queued/filters: {}
  /assets/queued/filters/user-filters: {}
  /assets/queued/filters/user-filters/{filterId}: {}
  /assets/rpc-actions/monitor: {}
  /assets/rpc-actions/protect: {}
  /assets/rpc-actions/queue: {}
  /assets/rpc-actions/unmonitor: {}
  /assets/rpc-actions/unprotect: {}
  /assets/rpc/monitored: {}
  /assets/rpc/monitored/export: {}
  /assets/rpc/monitored/export/csv/{exportId}: {}
  /assets/rpc/monitored/filters: {}
  /assets/rpc/monitored/filters/user-filters: {}
  /assets/rpc/monitored/filters/user-filters/{filterId}: {}
  /assets/rpc/protected: {}
  /assets/rpc/protected/export: {}
  /assets/rpc/protected/export/csv/{exportId}: {}
  /assets/rpc/protected/filters: {}
  /assets/rpc/protected/filters/user-filters: {}
  /assets/rpc/protected/filters/user-filters/{filterId}: {}
  /assets/rpc/queued: {}
  /assets/rpc/queued/export: {}
  /assets/rpc/queued/export/csv/{exportId}: {}
  /assets/rpc/queued/filters: {}
  /assets/rpc/queued/filters/user-filters: {}
  /assets/rpc/queued/filters/user-filters/{filterId}: {}
  /assets/scripts/fix-wmi: {}
  /assets/scripts/test-udp-net-connection/powershell: {}
  /assets/scripts/test-udp-net-connection/python: {}
  /assets/searchId:
    get:
      operationId: Assets_Search
      summary: Search Asset by FQDN
      description: Returns an assetId.
      parameters:
        - $ref: '#/components/parameters/fqdnParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/assetIdSearch'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Assets
      x-speakeasy-entity-operation: AssetId#get
  /assets/segmentation-statistics: {}
  /assets/states/statistics: {}
  /assets/statistics: {}
  /assets/switches: {}
  /assets/switches/{switchId}: {}
  /assets/switches/{switchId}/switch-vlans: {}
  /assets/switches/{switchId}/actions/break-glass/monitoring: {}
  /assets/switches/{switchId}/actions/break-glass/network: {}
  /assets/switches/{switchId}/activities/network: {}
  /assets/switches/{switchId}/activities/network/distinctField/{fieldName}: {}
  /assets/switches/{switchId}/activities/network/export: {}
  /assets/switches/{switchId}/activities/network/export/csv/{exportId}: {}
  /assets/switches/{switchId}/activities/network/filters: {}
  /assets/switches/{switchId}/activities/network/filters/user-filters: {}
  /assets/switches/{switchId}/activities/network/filters/user-filters/{filterId}: {}
  /assets/switches/{switchId}/audit: {}
  /assets/switches/{switchId}/audit/export: {}
  /assets/switches/{switchId}/audit/export/csv/{exportId}: {}
  /assets/switches/{switchId}/audit/filters: {}
  /assets/switches/{switchId}/switch-interfaces: {}
  /assets/switches/{switchId}/switch-interfaces/monitor: {}
  /assets/switches/{switchId}/ot: {}
  /assets/switches/{switchId}/ot/export: {}
  /assets/switches/{switchId}/ot/export/csv/{exportId}: {}
  /assets/switches/{switchId}/ot/filters: {}
  /assets/switches/{switchId}/ot/filters/user-filters: {}
  /assets/switches/{switchId}/ot/filters/user-filters/{filterId}: {}
  /assets/switches/{switchId}/protection/rules/history/{ruleId}: {}
  /assets/switches/{switchId}/protection/rules/distribution/{ruleId}: {}
  /assets/switches/{switchId}/switch-rules/inbound: {}
  /assets/switches/{switchId}/switch-rules/inbound/{ruleId}: {}
  /assets/switches/{switchId}/switch-rules/inbound/excluded-local-candidates: {}
  /assets/switches/{switchId}/switch-rules/inbound/export: {}
  /assets/switches/{switchId}/switch-rules/inbound/export/csv/{exportId}: {}
  /assets/switches/{switchId}/switch-rules/inbound/filters: {}
  /assets/switches/{switchId}/switch-rules/inbound/filters/local-candidates: {}
  /assets/switches/{switchId}/switch-rules/inbound/filters/remote-candidates: {}
  /assets/switches/{switchId}/switch-rules/inbound/filters/user-filters: {}
  /assets/switches/{switchId}/switch-rules/inbound/filters/user-filters/{filterId}: {}
  /assets/switches/{switchId}/switch-rules/inbound/local-candidates: {}
  /assets/switches/{switchId}/switch-rules/inbound/remote-candidates: {}
  /assets/switches/{switchId}/switch-rules/inbound/user-candidates: {}
  /assets/switches/{switchId}/switch-rules/outbound: {}
  /assets/switches/{switchId}/switch-rules/outbound/{ruleId}: {}
  /assets/switches/{switchId}/switch-rules/outbound/excluded-local-candidates: {}
  /assets/switches/{switchId}/switch-rules/outbound/export: {}
  /assets/switches/{switchId}/switch-rules/outbound/export/csv/{exportId}: {}
  /assets/switches/{switchId}/switch-rules/outbound/filters: {}
  /assets/switches/{switchId}/switch-rules/outbound/filters/local-candidates: {}
  /assets/switches/{switchId}/switch-rules/outbound/filters/remote-candidates: {}
  /assets/switches/{switchId}/switch-rules/outbound/filters/user-filters: {}
  /assets/switches/{switchId}/switch-rules/outbound/filters/user-filters/{filterId}: {}
  /assets/switches/{switchId}/switch-rules/outbound/local-candidates: {}
  /assets/switches/{switchId}/switch-rules/outbound/remote-candidates: {}
  /assets/switches/actions/break-glass/monitoring: {}
  /assets/switches/actions/break-glass/network: {}
  /assets/switches/{switchId}/binding-direction: {}
  /audit: {}
  /audit/export: {}
  /audit/export/csv/{exportId}: {}
  /audit/filters: {}
  /auth/challenge: {}
  /auth/login: {}
  /auth/logout: {}
  /cloud/azure/{tenantId}/subscriptions: {}
  /cloud/azure/subscriptions/filters: {}
  /cloud/azure/subscriptions/{subscriptionId}: {}
  /cloud/azure/subscriptions: {}
  /cloud/azure/{tenantId}/resource-groups: {}
  /cloud/azure/resource-groups/filters: {}
  /cloud/azure/resource-groups/{resourceGroupId}: {}
  /cloud/azure/{tenantId}/resources: {}
  /cloud/azure/resources/filters: {}
  /download/cloud-connector/installer: {}
  /download/connect/client: {}
  /download/connect/server: {}
  /download/segment/server: {}
  /download/segment-connector/installer: {}
  /entities/encode-ip: {}
  /entities/encode-ip-range: {}
  /entities/encode-subnet: {}
  /environments/move-cluster: {}
  /environments/cluster: {}
  /environments/cluster/{deploymentsClusterId}: {}
  /environments/deployments: {}
  /environments/deployments/access-token: {}
  /environments/freeze-period: {}
  /environments/freeze-period/{freezePeriodId}: {}
  /environments/learning-config: {}
  /environments/licenses/{licenseType}: {}
  /environments/licenses/{licenseType}/export: {}
  /environments/licenses/{licenseType}/export/csv/{exportId}: {}
  /environments/licenses/{licenseType}/in-use: {}
  /environments/system-health: {}
  /groups: {}
  /groups/{groupType}: {}
  /groups/{groupType}/export: {}
  /groups/{groupType}/export/csv/{exportId}: {}
  /groups/{groupType}/externalId/{externalId}: {}
  /groups/{groupType}/filters: {}
  /groups/{groupType}/{groupId}: {}
  /groups/{groupType}/{groupId}/access-simulation/expand-record: {}
  /groups/{groupType}/{groupId}/access-simulation/export: {}
  /groups/{groupType}/{groupId}/access-simulation/export/csv/{exportId}: {}
  /groups/{groupType}/{groupId}/access-simulation/generate: {}
  /groups/{groupType}/{groupId}/access-simulation/report: {}
  /groups/{groupType}/{groupId}/access-simulation/state: {}
  /groups/{groupType}/{groupId}/activities/logon: {}
  /groups/{groupType}/{groupId}/activities/logon/distinctField/{fieldName}: {}
  /groups/{groupType}/{groupId}/activities/logon/export: {}
  /groups/{groupType}/{groupId}/activities/logon/export/csv/{exportId}: {}
  /groups/{groupType}/{groupId}/activities/logon/filters: {}
  /groups/{groupType}/{groupId}/activities/logon/filters/user-filters: {}
  /groups/{groupType}/{groupId}/activities/logon/filters/user-filters/{filterId}: {}
  /groups/{groupType}/{groupId}/activities/network: {}
  /groups/{groupType}/{groupId}/activities/network/distinctField/{fieldName}: {}
  /groups/{groupType}/{groupId}/activities/network/export: {}
  /groups/{groupType}/{groupId}/activities/network/export/csv/{exportId}: {}
  /groups/{groupType}/{groupId}/activities/network/filters: {}
  /groups/{groupType}/{groupId}/activities/network/filters/user-filters: {}
  /groups/{groupType}/{groupId}/activities/network/filters/user-filters/{filterId}: {}
  /groups/{groupType}/{groupId}/activities/rpc: {}
  /groups/{groupType}/{groupId}/activities/rpc/export: {}
  /groups/{groupType}/{groupId}/activities/rpc/export/csv/{exportId}: {}
  /groups/{groupType}/{groupId}/activities/rpc/filters: {}
  /groups/{groupType}/{groupId}/activities/rpc/filters/interface-candidates: {}
  /groups/{groupType}/{groupId}/activities/rpc/filters/op-candidates: {}
  /groups/{groupType}/{groupId}/activities/rpc/filters/user-filters: {}
  /groups/{groupType}/{groupId}/activities/rpc/filters/user-filters/{filterId}: {}
  /groups/{groupType}/{groupId}/analysis/network: {}
  /groups/{groupType}/{groupId}/analysis/network/export: {}
  /groups/{groupType}/{groupId}/analysis/network/export/csv/{exportId}: {}
  /groups/{groupType}/{groupId}/ancestors: {}
  /groups/{groupType}/{groupId}/ancestors/candidates: {}
  /groups/{groupType}/{groupId}/audit: {}
  /groups/{groupType}/{groupId}/audit/export: {}
  /groups/{groupType}/{groupId}/audit/export/csv/{exportId}: {}
  /groups/{groupType}/{groupId}/audit/filters: {}
  /groups/{groupType}/{groupId}/managed-assets: {}
  /groups/{groupType}/{groupId}/managed-assets/{groupOrAssetId}: {}
  /groups/{groupType}/{groupId}/managed-assets/candidates: {}
  /groups/{groupType}/{groupId}/managers: {}
  /groups/{groupType}/{groupId}/managers/{groupOrUserId}: {}
  /groups/{groupType}/{groupId}/managers/candidates: {}
  /groups/{groupType}/{groupId}/protection/external-access-policies: {}
  /groups/{groupType}/{groupId}/protection/external-access-policies/{policyId}: {}
  /groups/{groupType}/{groupId}/protection/external-access-policies/dst-asset-candidates: {}
  /groups/{groupType}/{groupId}/protection/external-access-policies/filters: {}
  /groups/{groupType}/{groupId}/protection/external-access-policies/filters/dst-asset-candidates: {}
  /groups/{groupType}/{groupId}/protection/external-access-policies/filters/src-users-candidates: {}
  /groups/{groupType}/{groupId}/protection/external-access-policies/src-users-candidates: {}
  /groups/{groupType}/{groupId}/protection/external-access-policies/statistics: {}
  /groups/{groupType}/{groupId}/protection/identity-rules: {}
  /groups/{groupType}/{groupId}/protection/identity-rules/{ruleId}: {}
  /groups/{groupType}/{groupId}/protection/identity-rules/asset-candidates: {}
  /groups/{groupType}/{groupId}/protection/identity-rules/excluded-asset-candidates: {}
  /groups/{groupType}/{groupId}/protection/identity-rules/export: {}
  /groups/{groupType}/{groupId}/protection/identity-rules/export/csv/{exportId}: {}
  /groups/{groupType}/{groupId}/protection/identity-rules/filters: {}
  /groups/{groupType}/{groupId}/protection/identity-rules/filters/asset-candidates: {}
  /groups/{groupType}/{groupId}/protection/identity-rules/filters/user-candidates: {}
  /groups/{groupType}/{groupId}/protection/identity-rules/filters/user-filters: {}
  /groups/{groupType}/{groupId}/protection/identity-rules/filters/user-filters/{filterId}: {}
  /groups/{groupType}/{groupId}/protection/identity-rules/user-candidates: {}
  /groups/{groupType}/{groupId}/protection/identity/reactive-policies: {}
  /groups/{groupType}/{groupId}/protection/identity/reactive-policies/{reactivePolicyId}: {}
  /groups/{groupType}/{groupId}/protection/identity/reactive-policies/dst-asset-candidates: {}
  /groups/{groupType}/{groupId}/protection/identity/reactive-policies/excluded-src-asset-candidates: {}
  /groups/{groupType}/{groupId}/protection/identity/reactive-policies/export: {}
  /groups/{groupType}/{groupId}/protection/identity/reactive-policies/export/csv/{exportId}: {}
  /groups/{groupType}/{groupId}/protection/identity/reactive-policies/filters: {}
  /groups/{groupType}/{groupId}/protection/identity/reactive-policies/filters/dst-asset-candidates: {}
  /groups/{groupType}/{groupId}/protection/identity/reactive-policies/filters/src-asset-candidates: {}
  /groups/{groupType}/{groupId}/protection/identity/reactive-policies/filters/src-users-candidates: {}
  /groups/{groupType}/{groupId}/protection/identity/reactive-policies/filters/user-filters: {}
  /groups/{groupType}/{groupId}/protection/identity/reactive-policies/filters/user-filters/{filterId}: {}
  /groups/{groupType}/{groupId}/protection/identity/reactive-policies/mfa-methods: {}
  /groups/{groupType}/{groupId}/protection/identity/reactive-policies/src-asset-candidates: {}
  /groups/{groupType}/{groupId}/protection/identity/reactive-policies/src-users-candidates: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/inbound: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/inbound/{reactivePolicyId}: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/inbound/dst-candidates: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/inbound/excluded-src-candidates: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/inbound/filters: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/inbound/filters/dst-candidates: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/inbound/filters/src-candidates: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/inbound/filters/src-users-candidates: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/inbound/filters/user-filters: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/inbound/filters/user-filters/{filterId}: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/inbound/mfa-methods: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/inbound/simulate: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/inbound/simulate/dst-candidates: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/inbound/simulate/resolve: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/inbound/simulate/src-candidates: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/inbound/simulate/src-users-candidates: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/inbound/src-candidates: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/inbound/src-users-candidates: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/outbound: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/outbound/{reactivePolicyId}: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/outbound/dst-candidates: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/outbound/excluded-src-candidates: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/outbound/filters: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/outbound/filters/dst-candidates: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/outbound/filters/src-candidates: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/outbound/filters/src-users-candidates: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/outbound/filters/user-filters: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/outbound/filters/user-filters/{filterId}: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/outbound/simulate: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/outbound/simulate/dst-candidates: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/outbound/simulate/resolve: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/outbound/simulate/src-candidates: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/outbound/simulate/src-users-candidates: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/outbound/mfa-methods: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/outbound/src-candidates: {}
  /groups/{groupType}/{groupId}/protection/reactive-policies/outbound/src-users-candidates: {}
  /groups/{groupType}/{groupId}/protection/rpc-rules: {}
  /groups/{groupType}/{groupId}/protection/rpc-rules/{ruleId}: {}
  /groups/{groupType}/{groupId}/protection/rpc-rules/excluded-local-candidates: {}
  /groups/{groupType}/{groupId}/protection/rpc-rules/export: {}
  /groups/{groupType}/{groupId}/protection/rpc-rules/export/csv/{exportId}: {}
  /groups/{groupType}/{groupId}/protection/rpc-rules/filters: {}
  /groups/{groupType}/{groupId}/protection/rpc-rules/filters/local-candidates: {}
  /groups/{groupType}/{groupId}/protection/rpc-rules/filters/remote-candidates: {}
  /groups/{groupType}/{groupId}/protection/rpc-rules/filters/user-candidates: {}
  /groups/{groupType}/{groupId}/protection/rpc-rules/filters/user-filters: {}
  /groups/{groupType}/{groupId}/protection/rpc-rules/filters/user-filters/{filterId}: {}
  /groups/{groupType}/{groupId}/protection/rpc-rules/local-candidates: {}
  /groups/{groupType}/{groupId}/protection/rpc-rules/remote-candidates: {}
  /groups/{groupType}/{groupId}/protection/rpc-rules/user-candidates: {}
  /groups/{groupType}/{groupId}/protection/rules/distribution/{ruleId}: {}
  /groups/{groupType}/{groupId}/protection/rules/history/{ruleId}: {}
  /groups/{groupType}/{groupId}/protection/rules/inbound: {}
  /groups/{groupType}/{groupId}/protection/rules/inbound/{ruleId}: {}
  /groups/{groupType}/{groupId}/protection/rules/inbound/excluded-local-candidates: {}
  /groups/{groupType}/{groupId}/protection/rules/inbound/export: {}
  /groups/{groupType}/{groupId}/protection/rules/inbound/export/csv/{exportId}: {}
  /groups/{groupType}/{groupId}/protection/rules/inbound/filters: {}
  /groups/{groupType}/{groupId}/protection/rules/inbound/filters/remote-candidates: {}
  /groups/{groupType}/{groupId}/protection/rules/inbound/filters/local-candidates: {}
  /groups/{groupType}/{groupId}/protection/rules/inbound/filters/user-filters: {}
  /groups/{groupType}/{groupId}/protection/rules/inbound/filters/user-filters/{filterId}: {}
  /groups/{groupType}/{groupId}/protection/rules/inbound/local-candidates: {}
  /groups/{groupType}/{groupId}/protection/rules/inbound/remote-candidates: {}
  /groups/{groupType}/{groupId}/protection/rules/inbound/review/approve-with-changes/{ruleId}: {}
  /groups/{groupType}/{groupId}/protection/rules/inbound/review/approve/{ruleId}: {}
  /groups/{groupType}/{groupId}/protection/rules/inbound/review/approve-delete/{ruleId}: {}
  /groups/{groupType}/{groupId}/protection/rules/inbound/review/reject/{ruleId}: {}
  /groups/{groupType}/{groupId}/protection/rules/inbound/review/reject-delete/{ruleId}: {}
  /groups/{groupType}/{groupId}/protection/rules/outbound: {}
  /groups/{groupType}/{groupId}/protection/rules/outbound/{ruleId}: {}
  /groups/{groupType}/{groupId}/protection/rules/outbound/excluded-local-candidates: {}
  /groups/{groupType}/{groupId}/protection/rules/outbound/export: {}
  /groups/{groupType}/{groupId}/protection/rules/outbound/export/csv/{exportId}: {}
  /groups/{groupType}/{groupId}/protection/rules/outbound/filters: {}
  /groups/{groupType}/{groupId}/protection/rules/outbound/filters/excluded-local-candidates: {}
  /groups/{groupType}/{groupId}/protection/rules/outbound/filters/local-candidates: {}
  /groups/{groupType}/{groupId}/protection/rules/outbound/filters/remote-candidates: {}
  /groups/{groupType}/{groupId}/protection/rules/outbound/filters/user-candidates: {}
  /groups/{groupType}/{groupId}/protection/rules/outbound/filters/user-filters: {}
  /groups/{groupType}/{groupId}/protection/rules/outbound/filters/user-filters/{filterId}: {}
  /groups/{groupType}/{groupId}/protection/rules/outbound/local-candidates: {}
  /groups/{groupType}/{groupId}/protection/rules/outbound/remote-candidates: {}
  /groups/{groupType}/{groupId}/protection/rules/outbound/review/approve-with-changes/{ruleId}: {}
  /groups/{groupType}/{groupId}/protection/rules/outbound/review/approve/{ruleId}: {}
  /groups/{groupType}/{groupId}/protection/rules/outbound/review/approve-delete/{ruleId}: {}
  /groups/{groupType}/{groupId}/protection/rules/outbound/review/reject/{ruleId}: {}
  /groups/{groupType}/{groupId}/protection/rules/outbound/review/reject-delete/{ruleId}: {}
  /groups/{groupType}/{groupId}/protection/rules/outbound/user-candidates: {}
  /groups/{groupType}/{groupId}/protection/switch-rules/inbound: {}
  /groups/{groupType}/{groupId}/protection/switch-rules/inbound/{ruleId}: {}
  /groups/{groupType}/{groupId}/protection/switch-rules/inbound/excluded-local-candidates: {}
  /groups/{groupType}/{groupId}/protection/switch-rules/inbound/export: {}
  /groups/{groupType}/{groupId}/protection/switch-rules/inbound/export/csv/{exportId}: {}
  /groups/{groupType}/{groupId}/protection/switch-rules/inbound/filters: {}
  /groups/{groupType}/{groupId}/protection/switch-rules/inbound/filters/local-candidates: {}
  /groups/{groupType}/{groupId}/protection/switch-rules/inbound/filters/remote-candidates: {}
  /groups/{groupType}/{groupId}/protection/switch-rules/inbound/filters/user-filters: {}
  /groups/{groupType}/{groupId}/protection/switch-rules/inbound/filters/user-filters/{filterId}: {}
  /groups/{groupType}/{groupId}/protection/switch-rules/inbound/local-candidates: {}
  /groups/{groupType}/{groupId}/protection/switch-rules/inbound/remote-candidates: {}
  /groups/{groupType}/{groupId}/protection/switch-rules/inbound/user-candidates: {}
  /groups/{groupType}/{groupId}/protection/switch-rules/outbound: {}
  /groups/{groupType}/{groupId}/protection/switch-rules/outbound/{ruleId}: {}
  /groups/{groupType}/{groupId}/protection/switch-rules/outbound/excluded-local-candidates: {}
  /groups/{groupType}/{groupId}/protection/switch-rules/outbound/export: {}
  /groups/{groupType}/{groupId}/protection/switch-rules/outbound/export/csv/{exportId}: {}
  /groups/{groupType}/{groupId}/protection/switch-rules/outbound/filters: {}
  /groups/{groupType}/{groupId}/protection/switch-rules/outbound/filters/local-candidates: {}
  /groups/{groupType}/{groupId}/protection/switch-rules/outbound/filters/remote-candidates: {}
  /groups/{groupType}/{groupId}/protection/switch-rules/outbound/filters/user-filters: {}
  /groups/{groupType}/{groupId}/protection/switch-rules/outbound/filters/user-filters/{filterId}: {}
  /groups/{groupType}/{groupId}/protection/switch-rules/outbound/local-candidates: {}
  /groups/{groupType}/{groupId}/protection/switch-rules/outbound/remote-candidates: {}
  /groups/{groupType}/{groupId}/successors: {}
  /groups/{groupType}/{groupId}/successors/export: {}
  /groups/{groupType}/{groupId}/successors/export/csv/{exportId}: {}
  /groups/{groupType}/{groupId}/successors/filters: {}
  /groups/custom:
    post:
      operationId: CustomGroups_Create
      summary: Create Custom Group
      description: Returns an empty object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customGroupBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customGroupResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Groups Custom
      x-speakeasy-entity-operation: CustomGroup#create
  /groups/custom/{groupId}:
    get:
      operationId: CustomGroups_Get
      summary: Get a custom group
      description: Returns the properties of an custom group.
      parameters:
        - $ref: '#/components/parameters/groupIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customGroupResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Groups Custom
      x-speakeasy-entity-operation: CustomGroup#get
    put:
      operationId: CustomGroups_Update
      summary: Update Custom Group
      description: Returns an empty object.
      parameters:
        - $ref: '#/components/parameters/groupIdParameter'
      requestBody:
        description: Custom Group properties
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customGroupBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customGroupResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Groups Custom
      x-speakeasy-entity-operation: CustomGroup#update
    delete:
      operationId: CustomGroups_Delete
      summary: Delete Custom Group
      description: Returns an empty object.
      parameters:
        - $ref: '#/components/parameters/groupIdParameter'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Groups Custom
      x-speakeasy-entity-operation: CustomGroup#delete
  /groups/custom/member-candidates: {}
  /groups/custom/{groupId}/members:
    get:
      operationId: CustomGroupMembers_List
      summary: List Custom Group members
      description: Returns a list of all members
      parameters:
        - $ref: '#/components/parameters/groupIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/groupMembersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Groups Custom
      x-speakeasy-entity-operation: CustomGroupMembers#get
    put:
      operationId: CustomGroupsMembers_Add
      summary: Add Custom Group members
      description: Returns an empty object.
      parameters:
        - $ref: '#/components/parameters/groupIdParameter'
      requestBody:
        description: Custom Group Members properties
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customGroupMembersBody'
      responses:
        '200':
          $ref: '#/components/responses/200_empty'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Groups Custom
      x-speakeasy-entity-operation:
        - CustomGroupMembers#create
        - CustomGroupMembers#update
    delete:
      operationId: CustomGroupsMembers_Delete
      summary: Delete Custom Group members
      description: Returns an empty object.
      parameters:
        - $ref: '#/components/parameters/groupIdParameter'
      requestBody:
        description: Custom Group Members properties
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customGroupMembersBody'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Groups Custom
      x-speakeasy-entity-operation: CustomGroupMembers#delete
  /groups/statistics: {}
  /groups/tag/{groupId}/members: {}
  /groups/tag/member-candidates: {}
  /identity/ispm/posture-violations: {}
  /identity/ispm/posture-violations/filters: {}
  /identity/ispm/posture-violations/users-violation/filters: {}
  /identity/ispm/posture-violations/users-violation/filters/user-candidates: {}
  /identity/ispm/posture-violations/{postureCheckType}/users-violation: {}
  /identity/ispm/posture-violations/{postureCheckType}/users-violation/export: {}
  /identity/ispm/posture-violations/{postureCheckType}/users-violation/export/csv/{exportId}: {}
  /identity/ispm/posture-violations/{postureCheckType}/users-violation/status: {}
  /k8s/clusters: {}
  /k8s/clusters/{k8sClusterId}: {}
  /k8s/clusters/{k8sClusterId}/activities/network: {}
  /k8s/clusters/{k8sClusterId}/activities/network/distinctField/{fieldName}: {}
  /k8s/clusters/{k8sClusterId}/activities/network/export: {}
  /k8s/clusters/{k8sClusterId}/activities/network/export/csv/{exportId}: {}
  /k8s/clusters/{k8sClusterId}/activities/network/filters: {}
  /k8s/clusters/{k8sClusterId}/activities/network/filters/user-filters: {}
  /k8s/clusters/{k8sClusterId}/activities/network/filters/user-filters/{filterId}: {}
  /k8s/clusters/{k8sClusterId}/applications: {}
  /k8s/clusters/{k8sClusterId}/applications/export: {}
  /k8s/clusters/{k8sClusterId}/applications/export/csv/{exportId}: {}
  /k8s/clusters/{k8sClusterId}/applications/filters: {}
  /k8s/clusters/{k8sClusterId}/applications/{applicationName}: {}
  /k8s/clusters/{k8sClusterId}/applications/{applicationName}/namespaces: {}
  /k8s/clusters/{k8sClusterId}/applications/{applicationName}/namespaces/filters: {}
  /k8s/clusters/{k8sClusterId}/applications/{applicationName}/workloads: {}
  /k8s/clusters/{k8sClusterId}/applications/{applicationName}/workloads/filters: {}
  /k8s/clusters/{k8sClusterId}/audit: {}
  /k8s/clusters/{k8sClusterId}/audit/export: {}
  /k8s/clusters/{k8sClusterId}/audit/export/csv/{exportId}: {}
  /k8s/clusters/{k8sClusterId}/audit/filters: {}
  /k8s/clusters/{k8sClusterId}/command: {}
  /k8s/clusters/{k8sClusterId}/egress-ips: {}
  /k8s/clusters/{k8sClusterId}/egress-ips/filters: {}
  /k8s/clusters/{k8sClusterId}/labels: {}
  /k8s/clusters/{k8sClusterId}/labels/export: {}
  /k8s/clusters/{k8sClusterId}/labels/export/csv/{exportId}: {}
  /k8s/clusters/{k8sClusterId}/labels/filters: {}
  /k8s/clusters/{k8sClusterId}/labels/{label}: {}
  /k8s/clusters/{k8sClusterId}/labels/{label}/namespaces: {}
  /k8s/clusters/{k8sClusterId}/labels/{label}/namespaces/export: {}
  /k8s/clusters/{k8sClusterId}/labels/{label}/namespaces/export/csv/{exportId}: {}
  /k8s/clusters/{k8sClusterId}/labels/{label}/namespaces/filters: {}
  /k8s/clusters/{k8sClusterId}/labels/{label}/rules/inbound: {}
  /k8s/clusters/{k8sClusterId}/labels/{label}/rules/inbound/export: {}
  /k8s/clusters/{k8sClusterId}/labels/{label}/rules/inbound/export/csv/{exportId}: {}
  /k8s/clusters/{k8sClusterId}/labels/{label}/rules/inbound/filters: {}
  /k8s/clusters/{k8sClusterId}/labels/{label}/rules/outbound: {}
  /k8s/clusters/{k8sClusterId}/labels/{label}/rules/outbound/export: {}
  /k8s/clusters/{k8sClusterId}/labels/{label}/rules/outbound/export/csv/{exportId}: {}
  /k8s/clusters/{k8sClusterId}/labels/{label}/rules/outbound/filters: {}
  /k8s/clusters/{k8sClusterId}/labels/{label}/workloads: {}
  /k8s/clusters/{k8sClusterId}/labels/{label}/workloads/export: {}
  /k8s/clusters/{k8sClusterId}/labels/{label}/workloads/export/csv/{exportId}: {}
  /k8s/clusters/{k8sClusterId}/labels/{label}/workloads/filters: {}
  /k8s/clusters/{k8sClusterId}/namespaces: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/activities/network: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/activities/network/distinctField/{fieldName}: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/activities/network/export: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/activities/network/export/csv/{exportId}: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/activities/network/filters: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/activities/network/filters/user-filters: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/activities/network/filters/user-filters/{filterId}: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/analysis/network: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/analysis/network/activity-map: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/analysis/network/export: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/analysis/network/export/csv/{exportId}: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/applications: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/applications/export: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/applications/export/csv/{exportId}: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/applications/filters: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/labels: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/labels/export: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/labels/export/csv/{exportId}: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/labels/filters: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/network-policies/inbound: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/network-policies/inbound/filters: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/network-policies/outbound: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/network-policies/outbound/filters: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/rules/inbound: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/rules/inbound/export: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/rules/inbound/export/csv/{exportId}: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/rules/inbound/filters: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/rules/outbound: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/rules/outbound/export: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/rules/outbound/export/csv/{exportId}: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/rules/outbound/filters: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/workloads: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/workloads/export: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/workloads/export/csv/{exportId}: {}
  /k8s/clusters/{k8sClusterId}/namespaces/{k8sNamespaceId}/workloads/filters: {}
  /k8s/clusters/{k8sClusterId}/namespaces/export: {}
  /k8s/clusters/{k8sClusterId}/namespaces/export/csv/{exportId}: {}
  /k8s/clusters/{k8sClusterId}/network-policies/inbound: {}
  /k8s/clusters/{k8sClusterId}/network-policies/inbound/filters: {}
  /k8s/clusters/{k8sClusterId}/network-policies/outbound: {}
  /k8s/clusters/{k8sClusterId}/network-policies/outbound/filters: {}
  /k8s/clusters/{k8sClusterId}/namespaces/filters: {}
  /k8s/clusters/{k8sClusterId}/nodes: {}
  /k8s/clusters/{k8sClusterId}/nodes/filters: {}
  /k8s/clusters/{k8sClusterId}/rules/inbound: {}
  /k8s/clusters/{k8sClusterId}/rules/inbound/export: {}
  /k8s/clusters/{k8sClusterId}/rules/inbound/export/csv/{exportId}: {}
  /k8s/clusters/{k8sClusterId}/rules/inbound/filters: {}
  /k8s/clusters/{k8sClusterId}/rules/outbound: {}
  /k8s/clusters/{k8sClusterId}/rules/outbound/export: {}
  /k8s/clusters/{k8sClusterId}/rules/outbound/export/csv/{exportId}: {}
  /k8s/clusters/{k8sClusterId}/rules/outbound/filters: {}
  /k8s/clusters/{k8sClusterId}/workloads: {}
  /k8s/clusters/{k8sClusterId}/workloads/{k8sWorkloadId}: {}
  /k8s/clusters/{k8sClusterId}/workloads/{k8sWorkloadId}/activities/network: {}
  /k8s/clusters/{k8sClusterId}/workloads/{k8sWorkloadId}/activities/network/distinctField/{fieldName}: {}
  /k8s/clusters/{k8sClusterId}/workloads/{k8sWorkloadId}/activities/network/export: {}
  /k8s/clusters/{k8sClusterId}/workloads/{k8sWorkloadId}/activities/network/export/csv/{exportId}: {}
  /k8s/clusters/{k8sClusterId}/workloads/{k8sWorkloadId}/activities/network/filters: {}
  /k8s/clusters/{k8sClusterId}/workloads/{k8sWorkloadId}/activities/network/filters/user-filters: {}
  /k8s/clusters/{k8sClusterId}/workloads/{k8sWorkloadId}/activities/network/filters/user-filters/{filterId}: {}
  /k8s/clusters/{k8sClusterId}/workloads/{k8sWorkloadId}/analysis/network: {}
  /k8s/clusters/{k8sClusterId}/workloads/{k8sWorkloadId}/analysis/network/activity-map: {}
  /k8s/clusters/{k8sClusterId}/workloads/{k8sWorkloadId}/analysis/network/export: {}
  /k8s/clusters/{k8sClusterId}/workloads/{k8sWorkloadId}/analysis/network/export/csv/{exportId}: {}
  /k8s/clusters/{k8sClusterId}/workloads/{k8sWorkloadId}/applications: {}
  /k8s/clusters/{k8sClusterId}/workloads/{k8sWorkloadId}/applications/export: {}
  /k8s/clusters/{k8sClusterId}/workloads/{k8sWorkloadId}/applications/export/csv/{exportId}: {}
  /k8s/clusters/{k8sClusterId}/workloads/{k8sWorkloadId}/applications/filters: {}
  /k8s/clusters/{k8sClusterId}/workloads/{k8sWorkloadId}/labels: {}
  /k8s/clusters/{k8sClusterId}/workloads/{k8sWorkloadId}/labels/export: {}
  /k8s/clusters/{k8sClusterId}/workloads/{k8sWorkloadId}/labels/export/csv/{exportId}: {}
  /k8s/clusters/{k8sClusterId}/workloads/{k8sWorkloadId}/labels/filters: {}
  /k8s/clusters/{k8sClusterId}/workloads/export: {}
  /k8s/clusters/{k8sClusterId}/workloads/export/csv/{exportId}: {}
  /k8s/clusters/{k8sClusterId}/workloads/filters: {}
  /k8s/clusters/filters: {}
  /k8s/namespaces: {}
  /k8s/namespaces/{k8sNamespaceId}: {}
  /k8s/namespaces/{k8sNamespaceId}/activities/network: {}
  /k8s/namespaces/{k8sNamespaceId}/activities/network/distinctField/{fieldName}: {}
  /k8s/namespaces/{k8sNamespaceId}/activities/network/export: {}
  /k8s/namespaces/{k8sNamespaceId}/activities/network/export/csv/{exportId}: {}
  /k8s/namespaces/{k8sNamespaceId}/activities/network/filters: {}
  /k8s/namespaces/{k8sNamespaceId}/activities/network/filters/user-filters: {}
  /k8s/namespaces/{k8sNamespaceId}/activities/network/filters/user-filters/{filterId}: {}
  /k8s/namespaces/{k8sNamespaceId}/analysis/network: {}
  /k8s/namespaces/{k8sNamespaceId}/analysis/network/activity-map: {}
  /k8s/namespaces/{k8sNamespaceId}/analysis/network/export: {}
  /k8s/namespaces/{k8sNamespaceId}/analysis/network/export/csv/{exportId}: {}
  /k8s/namespaces/{k8sNamespaceId}/applications: {}
  /k8s/namespaces/{k8sNamespaceId}/applications/export: {}
  /k8s/namespaces/{k8sNamespaceId}/applications/export/csv/{exportId}: {}
  /k8s/namespaces/{k8sNamespaceId}/applications/filters: {}
  /k8s/namespaces/{k8sNamespaceId}/labels: {}
  /k8s/namespaces/{k8sNamespaceId}/labels/export: {}
  /k8s/namespaces/{k8sNamespaceId}/labels/export/csv/{exportId}: {}
  /k8s/namespaces/{k8sNamespaceId}/labels/filters: {}
  /k8s/namespaces/{k8sNamespaceId}/network-policies/inbound: {}
  /k8s/namespaces/{k8sNamespaceId}/network-policies/inbound/filters: {}
  /k8s/namespaces/{k8sNamespaceId}/network-policies/outbound: {}
  /k8s/namespaces/{k8sNamespaceId}/network-policies/outbound/filters: {}
  /k8s/namespaces/{k8sNamespaceId}/rules/inbound: {}
  /k8s/namespaces/{k8sNamespaceId}/rules/inbound/export: {}
  /k8s/namespaces/{k8sNamespaceId}/rules/inbound/export/csv/{exportId}: {}
  /k8s/namespaces/{k8sNamespaceId}/rules/inbound/filters: {}
  /k8s/namespaces/{k8sNamespaceId}/rules/outbound: {}
  /k8s/namespaces/{k8sNamespaceId}/rules/outbound/export: {}
  /k8s/namespaces/{k8sNamespaceId}/rules/outbound/export/csv/{exportId}: {}
  /k8s/namespaces/{k8sNamespaceId}/rules/outbound/filters: {}
  /k8s/namespaces/{k8sNamespaceId}/workloads: {}
  /k8s/namespaces/{k8sNamespaceId}/workloads/{k8sWorkloadId}: {}
  /k8s/namespaces/{k8sNamespaceId}/workloads/{k8sWorkloadId}/activities/network: {}
  /k8s/namespaces/{k8sNamespaceId}/workloads/{k8sWorkloadId}/activities/network/distinctField/{fieldName}: {}
  /k8s/namespaces/{k8sNamespaceId}/workloads/{k8sWorkloadId}/activities/network/export: {}
  /k8s/namespaces/{k8sNamespaceId}/workloads/{k8sWorkloadId}/activities/network/export/csv/{exportId}: {}
  /k8s/namespaces/{k8sNamespaceId}/workloads/{k8sWorkloadId}/activities/network/filters: {}
  /k8s/namespaces/{k8sNamespaceId}/workloads/{k8sWorkloadId}/activities/network/filters/user-filters: {}
  /k8s/namespaces/{k8sNamespaceId}/workloads/{k8sWorkloadId}/activities/network/filters/user-filters/{filterId}: {}
  /k8s/namespaces/{k8sNamespaceId}/workloads/{k8sWorkloadId}/analysis/network: {}
  /k8s/namespaces/{k8sNamespaceId}/workloads/{k8sWorkloadId}/analysis/network/activity-map: {}
  /k8s/namespaces/{k8sNamespaceId}/workloads/{k8sWorkloadId}/analysis/network/export: {}
  /k8s/namespaces/{k8sNamespaceId}/workloads/{k8sWorkloadId}/analysis/network/export/csv/{exportId}: {}
  /k8s/namespaces/{k8sNamespaceId}/workloads/{k8sWorkloadId}/applications: {}
  /k8s/namespaces/{k8sNamespaceId}/workloads/{k8sWorkloadId}/applications/export: {}
  /k8s/namespaces/{k8sNamespaceId}/workloads/{k8sWorkloadId}/applications/export/csv/{exportId}: {}
  /k8s/namespaces/{k8sNamespaceId}/workloads/{k8sWorkloadId}/applications/filters: {}
  /k8s/namespaces/{k8sNamespaceId}/workloads/{k8sWorkloadId}/labels: {}
  /k8s/namespaces/{k8sNamespaceId}/workloads/{k8sWorkloadId}/labels/export: {}
  /k8s/namespaces/{k8sNamespaceId}/workloads/{k8sWorkloadId}/labels/export/csv/{exportId}: {}
  /k8s/namespaces/{k8sNamespaceId}/workloads/{k8sWorkloadId}/labels/filters: {}
  /k8s/namespaces/{k8sNamespaceId}/workloads/export: {}
  /k8s/namespaces/{k8sNamespaceId}/workloads/export/csv/{exportId}: {}
  /k8s/namespaces/{k8sNamespaceId}/workloads/filters: {}
  /k8s/namespaces/export: {}
  /k8s/namespaces/export/csv/{exportId}: {}
  /k8s/namespaces/filters: {}
  /k8s/nodes: {}
  /k8s/nodes/filters: {}
  /k8s/workloads: {}
  /k8s/workloads/{k8sWorkloadId}: {}
  /k8s/workloads/{k8sWorkloadId}/activities/network: {}
  /k8s/workloads/{k8sWorkloadId}/activities/network/distinctField/{fieldName}: {}
  /k8s/workloads/{k8sWorkloadId}/activities/network/export: {}
  /k8s/workloads/{k8sWorkloadId}/activities/network/export/csv/{exportId}: {}
  /k8s/workloads/{k8sWorkloadId}/activities/network/filters: {}
  /k8s/workloads/{k8sWorkloadId}/activities/network/filters/user-filters: {}
  /k8s/workloads/{k8sWorkloadId}/activities/network/filters/user-filters/{filterId}: {}
  /k8s/workloads/{k8sWorkloadId}/analysis/network: {}
  /k8s/workloads/{k8sWorkloadId}/analysis/network/activity-map: {}
  /k8s/workloads/{k8sWorkloadId}/analysis/network/export: {}
  /k8s/workloads/{k8sWorkloadId}/analysis/network/export/csv/{exportId}: {}
  /k8s/workloads/{k8sWorkloadId}/applications: {}
  /k8s/workloads/{k8sWorkloadId}/applications/export: {}
  /k8s/workloads/{k8sWorkloadId}/applications/export/csv/{exportId}: {}
  /k8s/workloads/{k8sWorkloadId}/applications/filters: {}
  /k8s/workloads/{k8sWorkloadId}/labels: {}
  /k8s/workloads/{k8sWorkloadId}/labels/export: {}
  /k8s/workloads/{k8sWorkloadId}/labels/export/csv/{exportId}: {}
  /k8s/workloads/{k8sWorkloadId}/labels/filters: {}
  /k8s/workloads/export: {}
  /k8s/workloads/export/csv/{exportId}: {}
  /k8s/workloads/filters: {}
  /labels: {}
  /labels/filters: {}
  /maintenance-window-external: {}
  /profile: {}
  /profile/environments: {}
  /protection-policies/identity: {}
  /protection-policies/identity/{protectionPolicyId}: {}
  /protection-policies/identity/group-candidates: {}
  /protection-policies/identity/overriding-candidates: {}
  /protection-policies/identity/overriding/members: {}
  /protection-policies/learning-config: {}
  /protection-policies/network: {}
  /protection-policies/network/{protectionPolicyId}: {}
  /protection-policies/network/group-candidates: {}
  /protection-policies/network/overriding-candidates: {}
  /protection-policies/network/overriding/members: {}
  /protection/{assetId}/simulate-access: {}
  /protection/ae-exclusions/inbound:
    post:
      operationId: AEExclusionsInbound_Create
      summary: Create AE Exclusion Inbound
      description: Returns the properties of the created AE Exclusion.
      requestBody:
        description: Rule properties
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aeExclusionRuleBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aeExclusionRuleResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - AE Exclusions
      x-speakeasy-entity-operation: AEExclusionInbound#create
  /protection/ae-exclusions/inbound/{ruleId}:
    get:
      operationId: AEExclusionsInbound_Get
      summary: Get AE Exclusion
      description: Returns the properties of the update AE exclusion.
      parameters:
        - $ref: '#/components/parameters/ruleIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aeExclusionRuleResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - AE Exclusions
      x-speakeasy-entity-operation: AEExclusionInbound#get
    delete:
      operationId: AEExclusionsInbound_Delete
      summary: Delete Automation Engine Inbound exclusions
      description: Returns an empty object.
      parameters:
        - $ref: '#/components/parameters/ruleIdParameter'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - AE Exclusions
      x-speakeasy-entity-operation: AEExclusionInbound#delete
    put:
      operationId: AEExclusionsInbound_Update
      summary: Update AE Exclusion
      description: Returns the properties of the update AE exclusion.
      parameters:
        - $ref: '#/components/parameters/ruleIdParameter'
      requestBody:
        description: Rule properties
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aeExclusionRuleBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aeExclusionRuleResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - AE Exclusions
      x-speakeasy-entity-operation: AEExclusionInbound#update
  /protection/ae-exclusions/inbound/export: {}
  /protection/ae-exclusions/inbound/export/csv/{exportId}: {}
  /protection/ae-exclusions/inbound/filters: {}
  /protection/ae-exclusions/inbound/filters/local-candidates: {}
  /protection/ae-exclusions/inbound/filters/remote-candidates: {}
  /protection/ae-exclusions/inbound/filters/user-filters: {}
  /protection/ae-exclusions/inbound/filters/user-filters/{filterId}: {}
  /protection/ae-exclusions/inbound/local-candidates: {}
  /protection/ae-exclusions/inbound/remote-candidates: {}
  /protection/ae-exclusions/outbound:
    post:
      operationId: AEExclusionsOutbound_Create
      summary: Create AE Exclusion Outbound
      description: Returns the properties of the created AE Exclusion.
      requestBody:
        description: Rule properties
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aeExclusionRuleBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aeExclusionRuleResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - AE Exclusions
      x-speakeasy-entity-operation: AEExclusionOutbound#create
  /protection/ae-exclusions/outbound/{ruleId}:
    get:
      operationId: AEExclusionsOutbound_Get
      summary: Get AE Exclusion
      description: Returns the properties of the update AE exclusion.
      parameters:
        - $ref: '#/components/parameters/ruleIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aeExclusionRuleResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - AE Exclusions
      x-speakeasy-entity-operation: AEExclusionOutbound#get
    delete:
      operationId: AEExclusionsOutbound_Delete
      summary: Delete Automation Engine Outbound exclusions
      description: Returns an empty object.
      parameters:
        - $ref: '#/components/parameters/ruleIdParameter'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - AE Exclusions
      x-speakeasy-entity-operation: AEExclusionOutbound#delete
    put:
      operationId: AEExclusionsOutbound_Update
      summary: Update AE Exclusion
      description: Returns the properties of the update AE exclusion.
      parameters:
        - $ref: '#/components/parameters/ruleIdParameter'
      requestBody:
        description: Rule properties
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aeExclusionRuleBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aeExclusionRuleResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - AE Exclusions
      x-speakeasy-entity-operation: AEExclusionOutbound#update
  /protection/ae-exclusions/outbound/export: {}
  /protection/ae-exclusions/outbound/export/csv/{exportId}: {}
  /protection/ae-exclusions/outbound/filters: {}
  /protection/ae-exclusions/outbound/filters/local-candidates: {}
  /protection/ae-exclusions/outbound/filters/remote-candidates: {}
  /protection/ae-exclusions/outbound/filters/user-filters: {}
  /protection/ae-exclusions/outbound/filters/user-filters/{filterId}: {}
  /protection/ae-exclusions/outbound/local-candidates: {}
  /protection/ae-exclusions/outbound/remote-candidates: {}
  /protection/ae-exclusions/outbound/user-candidates: {}
  /protection/internal-access/policies:
    post:
      operationId: InternalAccessPolicy_Create
      summary: Create an internal access policy
      description: Returns a the internal access policy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/internalAccessPolicyBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalAccessPolicyItem'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Internal Access Policy
      x-speakeasy-entity-operation: InternalAccessPolicy#create
  /protection/internal-access/policies/{policyId}:
    get:
      operationId: InternalAccessPolicy_Get
      summary: Get an Internal Access policy
      description: Returns an internal access policy.
      parameters:
        - $ref: '#/components/parameters/internalAccessPolicyIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalAccessPolicyItem'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Internal Access Policy
      x-speakeasy-entity-operation: InternalAccessPolicy#get
    put:
      operationId: InternalAccessPolicy_Update
      summary: Update an Internal Access policy
      description: Returns an internal access policy.
      parameters:
        - $ref: '#/components/parameters/internalAccessPolicyIdParameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/internalAccessPolicyBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internalAccessPolicyItem'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Internal Access Policy
      x-speakeasy-entity-operation: InternalAccessPolicy#update
    delete:
      operationId: InternalAccessPolicy_Delete
      summary: Delete an Internal Access policy
      description: Returns an empty object.
      parameters:
        - $ref: '#/components/parameters/internalAccessPolicyIdParameter'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - Internal Access Policy
      x-speakeasy-entity-operation: InternalAccessPolicy#delete
  /protection/internal-access/policies/dst-asset-candidates: {}
  /protection/internal-access/policies/filters: {}
  /protection/internal-access/policies/filters/dst-asset-candidates: {}
  /protection/internal-access/policies/filters/src-users-candidates: {}
  /protection/internal-access/policies/src-users-candidates: {}
  /protection/external-access-policies: {}
  /protection/external-access-policies/{policyId}: {}
  /protection/external-access-policies/dst-asset-candidates: {}
  /protection/external-access-policies/filters: {}
  /protection/external-access-policies/filters/dst-asset-candidates: {}
  /protection/external-access-policies/filters/src-users-candidates: {}
  /protection/external-access-policies/src-users-candidates: {}
  /protection/external-access-policies/statistics: {}
  /protection/identity-rules: {}
  /protection/identity-rules/{ruleId}: {}
  /protection/identity-rules/asset-candidates: {}
  /protection/identity-rules/excluded-asset-candidates: {}
  /protection/identity-rules/export: {}
  /protection/identity-rules/export/csv/{exportId}: {}
  /protection/identity-rules/filters: {}
  /protection/identity-rules/filters/asset-candidates: {}
  /protection/identity-rules/filters/user-candidates: {}
  /protection/identity-rules/filters/user-filters: {}
  /protection/identity-rules/filters/user-filters/{filterId}: {}
  /protection/identity-rules/user-candidates: {}
  /protection/identity/reactive-policies: {}
  /protection/identity/reactive-policies/{reactivePolicyId}: {}
  /protection/identity/reactive-policies/dst-asset-candidates: {}
  /protection/identity/reactive-policies/excluded-src-asset-candidates: {}
  /protection/identity/reactive-policies/export: {}
  /protection/identity/reactive-policies/export/csv/{exportId}: {}
  /protection/identity/reactive-policies/filters: {}
  /protection/identity/reactive-policies/filters/dst-asset-candidates: {}
  /protection/identity/reactive-policies/filters/src-asset-candidates: {}
  /protection/identity/reactive-policies/filters/src-users-candidates: {}
  /protection/identity/reactive-policies/filters/user-filters: {}
  /protection/identity/reactive-policies/filters/user-filters/{filterId}: {}
  /protection/identity/reactive-policies/mfa-methods: {}
  /protection/identity/reactive-policies/src-asset-candidates: {}
  /protection/identity/reactive-policies/src-users-candidates: {}
  /protection/switch-rules/inbound: {}
  /protection/switch-rules/inbound/{ruleId}: {}
  /protection/switch-rules/inbound/excluded-local-candidates: {}
  /protection/switch-rules/inbound/export: {}
  /protection/switch-rules/inbound/export/csv/{exportId}: {}
  /protection/switch-rules/inbound/filters: {}
  /protection/switch-rules/inbound/filters/local-candidates: {}
  /protection/switch-rules/inbound/filters/remote-candidates: {}
  /protection/switch-rules/inbound/filters/user-filters: {}
  /protection/switch-rules/inbound/filters/user-filters/{filterId}: {}
  /protection/switch-rules/inbound/local-candidates: {}
  /protection/switch-rules/inbound/remote-candidates: {}
  /protection/switch-rules/inbound/user-candidates: {}
  /protection/switch-rules/outbound: {}
  /protection/switch-rules/outbound/{ruleId}: {}
  /protection/switch-rules/outbound/excluded-local-candidates: {}
  /protection/switch-rules/outbound/export: {}
  /protection/switch-rules/outbound/export/csv/{exportId}: {}
  /protection/switch-rules/outbound/filters: {}
  /protection/switch-rules/outbound/filters/local-candidates: {}
  /protection/switch-rules/outbound/filters/remote-candidates: {}
  /protection/switch-rules/outbound/filters/user-filters: {}
  /protection/switch-rules/outbound/filters/user-filters/{filterId}: {}
  /protection/switch-rules/outbound/local-candidates: {}
  /protection/switch-rules/outbound/remote-candidates: {}
  /protection/reactive-policies/distribution: {}
  /protection/reactive-policies/inbound:
    post:
      operationId: MFAInboundPolicies_Create
      summary: Add Inbound MFA Policy
      description: Returns the properties of the inbound MFA policy after creation.
      requestBody:
        description: MFA properties
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reactivePolicyInboundBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyItem'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - MFA Inbound
      x-speakeasy-entity-operation: InboundMFAPolicy#create
  /protection/reactive-policies/inbound/{reactivePolicyId}:
    get:
      operationId: MFAInboundPolicies_Get
      summary: Get Inbound MFA Policy
      description: Returns a inbound MFA policy object.
      parameters:
        - $ref: '#/components/parameters/reactivePolicyIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - MFA Inbound
      x-speakeasy-entity-operation: InboundMFAPolicy#get
    put:
      operationId: MFAInboundPolicies_Update
      summary: Update Inbound MFA Policy
      description: Returns the properties of the inbound MFA policy after updating.
      parameters:
        - $ref: '#/components/parameters/reactivePolicyIdParameter'
      requestBody:
        description: Rule properties
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reactivePolicyInboundBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyItem'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - MFA Inbound
      x-speakeasy-entity-operation: InboundMFAPolicy#update
    delete:
      operationId: MFAInboundPolicies_Delete
      summary: Remove Inbound MFA Policy
      description: Returns an empty object.
      parameters:
        - $ref: '#/components/parameters/reactivePolicyIdParameter'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
        - MFA Inbound
      x-speakeasy-entity-operation: InboundMFAPolicy#delete
  /protection/reactive-policies/inbound/dst-candidates: {}
  /protection/reactive-policies/inbound/excluded-src-candidates: {}
  /protection/reactive-policies/inbound/filters: {}
  /protection/reactive-policies/inbound/filters/dst-candidates: {}
  /protection/reactive-policies/inbound/filters/src-candidates: {}
  /protection/reactive-policies/inbound/filters/src-users-candidates: {}
  /protection/reactive-policies/inbound/filters/user-filters: {}
  /protection/reactive-policies/inbound/filters/user-filters/{filterId}: {}
  /protection/reactive-policies/inbound/mfa-methods: {}
  /protection/reactive-policies/inbound/simulate: {}
  /protection/reactive-policies/inbound/simulate/dst-candidates: {}
  /protection/reactive-policies/inbound/simulate/resolve: {}
  /protection/reactive-policies/inbound/simulate/src-candidates: {}
  /protection/reactive-policies/inbound/simulate/src-users-candidates: {}
  /protection/reactive-policies/inbound/src-candidates: {}
  /protection/reactive-policies/inbound/src-users-candidates: {}
  /protection/reactive-policies/outbound:
    post:
      operationId: MFAOutboundPolicies_Create
      summary: Add Outbound MFA Policy
      description: Returns a the properties of outbound MFA policy created.
      requestBody:
        description: Rule properties
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reactivePolicyOutboundBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reactivePolicyItem'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      security:
        - api_key: []
      tags:
[...]
