openapi: 3.2.0
info:
  title: Zero Networks Groups Custom API
  version: 1.26.3
  description: APIs for Zero Networks
  contact:
    name: Support
    url: https://support.zeronetworks.com
    email: support@zeronetworks.com
servers:
- url: https://portal.zeronetworks.com/v1/api
  description: Customer URL
  variables:
    CustomerURL:
      description: this value is per customer / partner
      default: portal
security:
- api_key: []
tags:
- name: Groups Custom
  description: API calls related to Custom Groups.
paths:
  /groups/custom:
    post:
      operationId: CustomGroups_Create
      summary: Create Custom Group
      description: Returns an empty object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customGroupBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customGroupResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      security:
      - api_key: []
      tags:
      - Groups Custom
      x-speakeasy-entity-operation: CustomGroup#create
  /groups/custom/{groupId}:
    get:
      operationId: CustomGroups_Get
      summary: Get a custom group
      description: Returns the properties of an custom group.
      parameters:
      - $ref: '#/components/parameters/groupIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customGroupResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
      - api_key: []
      tags:
      - Groups Custom
      x-speakeasy-entity-operation: CustomGroup#get
    put:
      operationId: CustomGroups_Update
      summary: Update Custom Group
      description: Returns an empty object.
      parameters:
      - $ref: '#/components/parameters/groupIdParameter'
      requestBody:
        description: Custom Group properties
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customGroupBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customGroupResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      security:
      - api_key: []
      tags:
      - Groups Custom
      x-speakeasy-entity-operation: CustomGroup#update
    delete:
      operationId: CustomGroups_Delete
      summary: Delete Custom Group
      description: Returns an empty object.
      parameters:
      - $ref: '#/components/parameters/groupIdParameter'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      security:
      - api_key: []
      tags:
      - Groups Custom
      x-speakeasy-entity-operation: CustomGroup#delete
  /groups/custom/{groupId}/members:
    get:
      operationId: CustomGroupMembers_List
      summary: List Custom Group members
      description: Returns a list of all members
      parameters:
      - $ref: '#/components/parameters/groupIdParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/groupMembersList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      security:
      - api_key: []
      tags:
      - Groups Custom
      x-speakeasy-entity-operation: CustomGroupMembers#get
    put:
      operationId: CustomGroupsMembers_Add
      summary: Add Custom Group members
      description: Returns an empty object.
      parameters:
      - $ref: '#/components/parameters/groupIdParameter'
      requestBody:
        description: Custom Group Members properties
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customGroupMembersBody'
      responses:
        '200':
          $ref: '#/components/responses/200_empty'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      security:
      - api_key: []
      tags:
      - Groups Custom
      x-speakeasy-entity-operation:
      - CustomGroupMembers#create
      - CustomGroupMembers#update
    delete:
      operationId: CustomGroupsMembers_Delete
      summary: Delete Custom Group members
      description: Returns an empty object.
      parameters:
      - $ref: '#/components/parameters/groupIdParameter'
      requestBody:
        description: Custom Group Members properties
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customGroupMembersBody'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      security:
      - api_key: []
      tags:
      - Groups Custom
      x-speakeasy-entity-operation: CustomGroupMembers#delete
components:
  schemas:
    customGroupMembersBody:
      type: object
      properties:
        membersId:
          description: members id
          type: array
          items:
            type: string
            pattern: ^g:[c]:[a-zA-Z0-9]{8}$
          example:
          - g:c:ab124as2
      required:
      - membersId
      x-speakeasy-entity: CustomGroupMembers
    error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    assetType:
      description: "Possible asset status:\n  * '0' - Unknown\n  * '1' - Client\n  * '2' - Server\n  * '3' - Virtual cluster\n  * '4' - IP camera\n  * '5' - Smart TV\n  * '6' - Factory controller\n  * '7' - Medical device\n  * '8' - Printer\n  * '9' - Scanner\n  * '10' - Smart card reader\n  * '11' - Router\n  * '12' - Hypervisor\n  * '13' - PLC\n  * '14' - HMI\n  * '15' - Switch\n  * '16' - Terminal station\n  * '17' - RTU\n  * '18' - Wireless access point\n  * '19' - Historian\n  * '20' - Game console\n  * '21' - Fire alarm\n  * '22' - UPS\n  * '23' - Storage appliance\n  * '24' - Virtualization appliance\n  * '25' - Firewall appliance\n  * '26' - Security scanner\n  * '27' - Security controller\n  * '28 ' - Door lock\n  * '29' - Biometric entry system\n  * '30' - HVAC\n  * '31' - Room scheduler\n  * '32' - Load Balancer Appliance\n  * '33' - WAN Concentrator\n  * '34' - IPAM Appliance\n  * '35' - TEMPERATURE SENSOR GATEWAY\n  * '36' - POWER METER\n  * '37' - CONVEYOR SYSTEM\n  * '38' - BUILDING AUTOMATION DEVICE\n  * '39' - VISION CONTROLLER\n  * '40' - MANUFACTURING EXECUTION SYSTEM\n  * '41' - BACNET BROADCAST MANAGEMENT DEVICE BBMD\n  * '42' - BACNET ROUTER AND BBMD\n  * '43' - CLOCK\n  * '44' - RFID\n  * '45' - SCALE\n  * '46' - MOBILE PRINTER\n  * '47' - IED\n  * '48' - CNC MILL\n  * '49' - ROOM MONITOR\n  * '50' - SMART SPEAKER\n  * '51' - VENDING MACHINE\n  * '52' - AUTONOMOUS VEHICLE\n  * '53' - FLEET MANAGEMENT SYSTEM\n  * '54' - BACNET ROUTER\n  * '55' - MOTOR CONTROLLER\n  * '56' - OT GATEWAY\n  * '57' - CONTROLLER\n  * '58' - BUILDING MANAGEMENT SYSTEM\n  * '59' - VOIP PHONE\n  * '60' - VISION SENSOR\n  * '61' - REMOTE IO\n  * '62' - VOIP SERVER\n  * '63' - FLOW METER\n  * '64' - BUILDING AUTOMATION CONTROLLER\n  * '65' - SECURITY CAMERA\n  * '66' - DIGITAL SIGN\n  * '67' - REMOTE ACCESS GATEWAY\n  * '68' - TEMPERATURE SENSOR\n  * '69' - RTLS\n  * '70' - SERIAL TO ETHERNET\n  * '71' - INTERCOM\n  * '72' - ENGINEERING STATION\n  * '73' - DATA LOGGER GATEWAY\n  * '74' - ROBOT\n  * '75' - TABLET\n  * '76' - SCADA SERVER\n  * '77' - INDUSTRIAL PRINTER\n  * '78' - VISION CAMERA\n  * '79' - TIME CLOCK\n  * '80' - VIDEO CONFERENCE\n  * '81' - ELECTRICAL DRIVE\n  * '82' - ACCESS CONTROL\n  * '83' - PRINTER 3D\n  * '84' - ACCESS CONTROL GATEWAY\n  * '85' - ATM\n  * '86' - AUDIO DECODER\n  * '87' - AV SYSTEM\n  * '88' - BACNET ROUTER BBMD\n  * '89' - BADGE READER\n  * '90' - BARCODE SCANNER\n  * '91' - BUILDING AUTOMATION CONTROLLER GATEWAY\n  * '92' - BUILDING MANAGEMENT SENSOR\n  * '93' - BUILDING MANAGEMENT SENSOR GATEWAY\n  * '94' - BUILDING MANAGEMENT SYSTEM GATEWAY\n  * '95' - CAR\n  * '96' - CIRCUIT MONITOR\n  * '97' - CLINICAL MOBILE DEVICE\n  * '98' - CLINICAL MOBILE DEVICE GATEWAY\n  * '99' - CLOCK GATEWAY\n  * '100' - CNC SYSTEM\n  * '101' - CONFERENCE ROOM\n  * '102' - DATA LOGGER\n  * '103' - DIGITAL SIGN WORKSTATION\n  * '104' - DISK PUBLISHER\n  * '105' - DISPATCHER\n  * '106' - EMBEDDED PC\n  * '107' - ENCODER\n  * '108' - EV CHARGING\n  * '109' - FITNESS DEVICE\n  * '110' - GENERIC MOBILE DEVICE\n  * '111' - GPS NAVIGATOR\n  * '112' - INDUSTRIAL BARCODE SCANNER\n  * '113' - INDUSTRIAL METAL DETECTOR\n  * '114' - INDUSTRIAL NETWORK EQUIPMENT\n  * '115' - INDUSTRIAL THIN CLIENT\n  * '116' - INDUSTRIAL THIN CLIENT GATEWAY\n  * '117' - INDUSTRIAL WIRELESS\n  * '118' - INDUSTRIAL WORKSTATION\n  * '119' - INSPECTION SYSTEM\n  * '120' - INTERACTIVE VOICE RESPONSE\n  * '121' - INTERCOM GATEWAY\n  * '122' - IOT CONTROLLER\n  * '123' - LOCK BOX\n  * '124' - MACHINERY HEALTH ANALYZER\n  * '125' - MAILING SYSTEM\n  * '126' - MEDIA GATEWAY\n  * '127' - MEDIA PLAYER\n  * '128' - MEDIA STREAMER\n  * '129' - MICROSCOPE\n  * '130' - MOBILE COMPUTER\n  * '131' - MOTOR STARTER\n  * '132' - MUSICAL INSTRUMENT\n  * '133' - OPC SERVER\n  * '134' - ORDER FULFILLMENT SYSTEM\n  * '135' - OT DEVICE\n  * '136' - OT SERVER\n  * '137' - PA SYSTEM\n  * '138' - PAYMENT KIOSK\n  * '139' - PHYSICAL SECURITY PLATFORM\n  * '140' - POINT OF SALE\n  * '141' - POINT OF SALE GATEWAY\n  * '142' - POWER DISTRIBUTION UNIT\n  * '143' - POWER DISTRIBUTION UNIT GATEWAY\n  * '144' - POWER SUPPLY\n  * '145' - PRINT SERVER\n  * '146' - PROJECTOR\n  * '147' - RADIO\n  * '148' - RADIO REPEATER\n  * '149' - RECORDING SERVER\n  * '150' - REPORTING SERVER\n  * '151' - ROOM AUTOMATION STATION\n  * '152' - ROOM DISPLAY\n  * '153' - RTLS GATEWAY\n  * '154' - SAFETY SYSTEM\n  * '155' - SCADA CLIENT\n  * '156' - SCREEN SHARE\n  * '157' - SECURITY XRAY SCANNER\n  * '158' - SENSOR\n  * '159' - SERIAL TO ETHERNET GATEWAY\n  * '160' - SERVICE TROLLEY\n  * '161' - SMART BOARD\n  * '162' - SMART HOME\n  * '163' - SMART LIGHT\n  * '164' - SMART LIGHT GATEWAY\n  * '165' - SMART LOCK CONTROLLER\n  * '166' - SMARTPHONE\n  * '167' - SMARTWATCH\n  * '168' - SOLAR ENERGY\n  * '169' - TIME CLOCK GATEWAY\n  * '170' - VIDEO CONFERENCE GATEWAY\n  * '171' - VIDEO DECODER\n  * '172' - VIDEO ENCODER\n  * '173' - VIDEO SURVEILLANCE DEVICE\n  * '174' - VOIP ADAPTER\n  * '175' - VOIP PHONE GATEWAY\n  * '176' - WATER SYSTEM\n  * '177' - WIRELESS PHONE\n  * '178' - WIRELESS PHONE GATEWAY\n  * '1001' - OTHER OT\n"
      type: integer
      format: int32
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      - 8
      - 9
      - 10
      - 11
      - 12
      - 13
      - 14
      - 15
      - 16
      - 17
      - 18
      - 19
      - 20
      - 21
      - 22
      - 23
      - 24
      - 25
      - 26
      - 27
      - 29
      - 30
      - 31
      - 32
      - 33
      - 34
      - 35
      - 36
      - 37
      - 38
      - 39
      - 40
      - 41
      - 42
      - 43
      - 44
      - 45
      - 46
      - 47
      - 48
      - 49
      - 50
      - 51
      - 52
      - 53
      - 54
      - 55
      - 56
      - 57
      - 58
      - 59
      - 60
      - 61
      - 62
      - 63
      - 64
      - 65
      - 66
      - 67
      - 68
      - 69
      - 70
      - 71
      - 72
      - 73
      - 74
      - 75
      - 76
      - 77
      - 78
      - 79
      - 80
      - 81
      - 82
      - 83
      - 84
      - 85
      - 86
      - 87
      - 88
      - 89
      - 90
      - 91
      - 92
      - 93
      - 94
      - 95
      - 96
      - 97
      - 98
      - 99
      - 100
      - 101
      - 102
      - 103
      - 104
      - 105
      - 106
      - 107
      - 108
      - 109
      - 110
      - 111
      - 112
      - 113
      - 114
      - 115
      - 116
      - 117
      - 118
      - 119
      - 120
      - 121
      - 122
      - 123
      - 124
      - 125
      - 126
      - 127
      - 128
      - 129
      - 130
      - 131
      - 132
      - 133
      - 134
      - 135
      - 136
      - 137
      - 138
      - 139
      - 140
      - 141
      - 142
      - 143
      - 144
      - 145
      - 146
      - 147
      - 148
      - 149
      - 150
      - 151
      - 152
      - 153
      - 154
      - 155
      - 156
      - 157
      - 158
      - 159
      - 160
      - 161
      - 162
      - 163
      - 164
      - 165
      - 166
      - 167
      - 168
      - 169
      - 170
      - 171
      - 172
      - 173
      - 174
      - 175
      - 176
      - 177
      - 178
      - 1001
    customGroupBody:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        description:
          type: string
        membersId:
          description: members id
          type: array
          items:
            type: string
            pattern: ^g:[c]:[a-zA-Z0-9]{8}$
          example:
          - g:c:ab124as2
        conditions:
          $ref: '#/components/schemas/groupConditions'
          minProperties: 1
          example:
            osNamePatterns:
            - Windows.*
            assetTypes:
            - 1
            - 2
      x-speakeasy-entity: CustomGroup
    customGroup:
      type: object
      properties:
        createdAt:
          $ref: '#/components/schemas/epochMillis'
        description:
          type: string
        directMembersCount:
          type: integer
        domain:
          type: string
        guid:
          type: string
          format: uuid
        hasProtectionPolicy:
          type: boolean
        id:
          type: string
        name:
          type: string
        principalName:
          type: string
        role:
          type: integer
        sid:
          type: string
        updatedAt:
          $ref: '#/components/schemas/epochMillis'
        addedAt:
          $ref: '#/components/schemas/epochMillis'
        addedBy:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
              example: User Name
      x-speakeasy-entity: CustomGroup
    emptyResponse:
      type: object
    customGroupResponse:
      type: object
      properties:
        entity:
          $ref: '#/components/schemas/customGroup'
    groupConditions:
      type: object
      properties:
        domains:
          type: array
          items:
            type: string
        namePatterns:
          type: array
          items:
            type: string
        osNamePatterns:
          type: array
          items:
            type: string
        osTypes:
          type: array
          items:
            $ref: '#/components/schemas/osType'
        assetTypes:
          type: array
          items:
            $ref: '#/components/schemas/assetType'
        ipBuiltins:
          type: array
          items:
            type: string
    groupMembersList:
      type: object
      properties:
        membersId:
          type: array
          items:
            type: string
      x-speakeasy-entity: CustomGroupMembers
    osType:
      description: "Possible osType:\n  * '1' - Unmanagable\n  * '2' - Windows\n  * '3' - Linux\n  * '4' - Mac\n"
      type: integer
      format: int32
      enum:
      - 1
      - 2
      - 3
      - 4
    epochMillis:
      description: Epoch Millis
      type: integer
      format: int64
      title: epochMillis
  responses:
    200_empty:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/emptyResponse'
    '409':
      description: Already exists
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    '403':
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    '401':
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    '400':
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    '404':
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
    '500':
      description: Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
  parameters:
    groupIdParameter:
      name: groupId
      in: path
      description: groupId to filter on
      required: true
      schema:
        type: string
        pattern: ^g:[acsot]:[a-zA-Z0-9]{8}$
      example: g:t:01445453
      x-speakeasy-name-override: id
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
